
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default
$color-primary: #c33333 !default
$color-secondary: #e3a836 !default
$color-tertiary: #f4f5f6 !default
$color-quaternary: #d1d1d1 !default
$color-quinary: #e1e1e1 !default

$color-dark: #232323 !default
$color-dark-text: #bdbdbd !default

.has-background-dark
    background: $color-dark

    p {color: $color-initial}

    h1, h2, h3, h4, h5, h6 {color: $color-initial}

    i {color: $color-initial}

.has-background-med-dark
    background:#353535
    
    p {color: $color-initial}

    h2 {color: $color-initial}
        
    i {color: $color-initial}

.has-color-dark
    color: $color-dark

.has-background-dark-text
    background: $color-dark-text

.has-color-dark-text
    color: $color-dark-text

.has-color-primary
    color: $color-primary