
// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

b,
strong
	font-weight: bold

p
	margin-top: 0
	// font-weight: 300

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: 300
	letter-spacing: -.1rem
	margin-bottom: 2.0rem
	margin-top: 0

	&.size-10
		font-size: 10rem
	
	&.size-9
		font-size: 9rem

	&.size-8
		font-size: 8rem

	&.size-7
		font-size: 7rem

	&.size-6
		font-size: 6rem

	&.size-5
		font-size: 5rem

	&.size-4
		font-size: 4rem
	
	&.size-3
		font-size: 3rem

	&.size-2
		font-size: 2rem

	&.margin-4
		margin-bottom: 4rem

	&.margin-6
		margin-bottom: 6rem
	

h1
	// font-size: 4.6rem
	line-height: 1.2
	// margin-top: 4rem;
	font-size: 5rem;
	margin-bottom: 4rem;


h2
	font-size: 3.6rem
	line-height: 1.25

h3
	font-size: 2.8rem
	line-height: 1.3

h4
	font-size: 2.2rem
	letter-spacing: -.08rem
	line-height: 1.35

h5
	font-size: 1.8rem
	letter-spacing: -.05rem
	line-height: 1.5

h6
	font-size: 1.6rem
	letter-spacing: 0
	line-height: 1.4

.size-10
	font-size: 10rem

.size-9
	font-size: 9rem

.size-8
	font-size: 8rem

.size-7
	font-size: 7rem

.size-6
	font-size: 6rem

.size-5
	font-size: 5rem

.size-4
	font-size: 4rem

.size-3
	font-size: 3rem

.size-2
	font-size: 2rem


@media (max-width: 640px)

	.column
		.box
			padding: 4rem

	h1, h2 
		font-size: 4rem
		margin-bottom: 2rem
		&.size-6
			font-size: 4rem
