@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xdoog9');
  src:  url('fonts/icomoon.eot?xdoog9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xdoog9') format('truetype'),
    url('fonts/icomoon.woff?xdoog9') format('woff'),
    url('fonts/icomoon.svg?xdoog9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jtp:before {
  content: "\e903";
}
.icon-logo_ink:before {
  content: "\e902";
}
.icon-logo_ink_inline .path1:before {
  content: "\e900";
  /* color: rgb(35, 31, 32); */
}
/* .icon-logo_ink_inline .path2:before {
  content: "\e901";
  margin-left: -3.6416015625em;
  color: rgb(0, 0, 0);
} */

/* .icon-jtp-logo-home:before {
  content: "\e902";
} */

/* .icon-logo_ink_inline:before {
  content: "\e900";
  color: rgb(35, 31, 32);
}
.icon-logo_ink_inline .path2:before {
  content: "\e901"; 
  margin-left: -3.6416015625em;
  color: rgb(0, 0, 0);
} */

.icon-logo_ink_inline{
  /* color: #fff; */
}

  body{
    background: #000;
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  body, html{
    height: 100%;
  }

  h1, h2, h3, h4, h5{
    font-family: viga;
  }
  /* .icon-jtp-logo:before {
    content: "\e900";
  }


  .icon-jtp-logo-home:before {
    content: "\e900";
  }

  .icon-jtp-logo2:before{
    content: "\e900";
  }
   */
  
  .icon-jtp-logo{
    /* font-size: 20rem;
    padding-top: 0;
    padding-left: 0; */
    /* top: -9rem; */
    /* background: linear-gradient(to top, #ffff00 0%, #0000FF 30%); */
    /* background-image: linear-gradient(to top, #ad7646 0%, #fe7f2f 0); */
    /* background-image: linear-gradient(to top, rgb(84, 51, 46) 0%,#a55b24 0px); */
    /* position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%); */
  }

  .padding-bottom-5{
    padding-bottom: 5rem;
  }

  .block-me{
    display: block;
  }

  .icon-jtp-logo.candle{
    color: #fe7f2f;
  }

  .icon-jtp-logo.grass{
   color: #e2d5b9;
   color: #e0b039;
   /* color: #ad7646; */
  }

  .icon-jtp-logo.indian{
    color: #063c48;
    color: rgb(152, 25, 23) !important;
    color: rgb(202, 92, 33) !important;
    /* color: rgb(248, 223, 185) !important; */
  }

  .icon.is-large{
    /* margin-bottom: 1.5rem; */
  }

  .title{
    font-family: 'Viga', sans-serif;
  }

  /* .title.huge{
    font-size: 3rem;
  } */

  .box{
    /* background: rgba(197, 146, 16, .85)!important; */
    padding: 2rem 3rem;
  }


  /* .navbar{
    height: 5rem;
    background: transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
  } */

  /* .navbar-brand .navbar-item{
    padding:0;

  }

  .navbar-menu{
    padding-top: 1rem;
    align-items: flex-start;
  } */

  /* .navbar-menu, .navbar-start{
    height: 100%;
    width: 100%;
  } */
/* 
  .navbar-start{
    justify-content: center;
  } */




  .navbar-item .icon{
    padding-top: .75rem;
  }
  
  /* .navbar .navbar-item,.navbar-link{
    color: #363636;
    color: #fff;
  } */
/* 
  .scrolling .navbar-item,.scrolling .navbar-link{
    color: #363636;
  } */


  .container.full-width{
    width: 100%;
    max-width: 100%;
    height:100%;
    padding:0;
  }

  .search input{
    margin-right: 1rem;
  }

  .vert-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-image{
    /* height: 100vh !important; */
    background-size: cover !important;
    background-position: center !important;
    /* padding: 0 !important; */
    /* position: absolute; */
    /* height: 100%; */
    width: 100%;
    margin-top: 0;
    margin-bottom: 0 !important;
    overflow: hidden;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.1);
    z-index: 0;
  }

  .hero-image .overlay.indian{
    /* background: rgba(0,0,0,.5); */
  }

  .angle-right{
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
    background: rgba(197, 146, 16, .85)!important;
    position: absolute;
    /* transform: translateX(100%); */
    /* display:none; */
    height: 100%;
    z-index: 1;
  }

  .angle-right.indian{
    /* background: rgba(6, 59, 71, .85) !important; */
    background: rgba(152, 25, 23, .85) !important;
    background: rgb(202, 92, 33, .85) !important;
  }

  .angle-right.show{
    transform: translateX(0);
  }

  .angle-right .columns{
    /* transform:   rotate(-5deg); */
  }

  .circle{
    width: 9rem;
    height: 9rem;
    background: transparent;
    border-radius: 50%;
    border: .25rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .section{
      position: relative;
      padding:0;
      height: 100%;
  }

  .section.portfolio{
    background: #fff;
  }

  /* .portfolio .hero-image{
    height: 75vh !important;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
  } */

  /* .navbar{
    background-color: #000;
  } */

  .navbar-brand{
    width: 18rem;
    position: relative;
  }

  .navbar > .container{
    /* min-height: 4.25rem; */
    align-items: center;
  }

  .icon-jtp-logo{
    /* position: fixed;
    z-index: 100; */
    /* top: -9rem; */
  }

  .portfolio .icon-jtp-logo{
    /* top: 10%;
    left: 87%;
    font-size: 6rem; */
  }

  .scrolling .navbar{
    /* background-color:   rgba(255,255,255,.95); */
  }



  a.navbar-item:hover, .navbar-link:hover{
    color: #fe7f2f;
  }

  .navbar-dropdown > .navbar-item{
    color: #000;
    font-size: 1rem;
  }

  .navbar.is-transparent .navbar-dropdown a.navbar-item:hover{
    color: #fe7f2f;
  }

  .navbar-link{
    padding-right: 0;
  }

  .navbar-item.has-dropdown {
    padding-right: 2rem;
  }

  .navbar-link::after{
    border-color: #fe7f2f;
    display: none;
  }

  .transition{
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;  
  }

  .transition-medium{
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;  
  }

  .transition-slow{
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;  
  }