<template>
      <div class="main">

        <!-- <div class="hero-image hero-body grass-image is-vcentered" style="background: url('/static/grass.jpg')"> -->
        <!-- <span class="icon-jtp-logo transition grass"></span> -->
        <HeroImage v-bind:img="images[0]" v-bind:overlay="true"/>
        <!-- <div class="columns"> -->
          <transition appear name="slide-fade" v-if="show">
            <div class="about-text-wrap">
            <div class="about-text">
                  <div class="circle">
                        <span class="icon is-large has-text-centered">
                            <i class="fas fa-camera-retro fa-3x"></i>
                        </span>
                    </div>
              <h2 class="title huge">About Me</h2>
              <p class="has-color-white has-text-left">Hi, I’m Jerome. Thank you for taking the time to view my work. It’s been 14 years since I photographed my first wedding and nearly 400 weddings later I’m blessed to continue serving couples throughout Washington, Oregon, California, and destinations all over the world. I’ve experienced much through the lens of my camera and am excited to capture the anticipation, the laughter, and the memories of your wedding for you to enjoy in the years to come.</p>
            </div>
            </div>
          </transition>
        <!-- <div class="overlay"></div> -->
        <!-- <transition name="slide-fade" mode="out-in" appear>
        <div v-if="show" class="angle-right padding-bottom-5" id="angle-right" ref="someAngle">
            <div class="columns is-vcentered is-centered" style="height:100%;">
                <div class="column is-10 has-text-centered">
                  <div class="spacer"></div>
                    <div class="circle">
                        <span class="icon is-large has-text-centered" style="color: #fef7c4;">
                            <i class="fas fa-camera-retro fa-3x"></i>
                        </span>
                    </div>
                    <h2 class="title huge" style="color:#fef7c4;">About Me</h2>
                    <p class="has-text-white has-text-left">Hi, I’m Jerome. Thank you for taking the time to view my work. It’s been 14 years since I photographed my first wedding and nearly 400 weddings later I’m blessed to continue serving couples throughout Washington, Oregon, California, and destinations all over the world. I’ve experienced much through the lens of my camera and am excited to capture the anticipation, the laughter, and the memories of your wedding for you to enjoy in the years to come.</p>
                </div>
            </div>
        </div>
        </transition> -->
       <!-- </div> -->
      </div>
</template>

<script>
import HeroImage from '@/components/HeroImage.vue'
export default {
  name: 'About',
  data () {
    return {
      show: true,
      images: [
        { id: 0, url: '/static/jerome.jpg', color: '#fe7f2f' }
      ],
      overlay: true
    }
  },
  components: {
    HeroImage
  },
  methods: {
    // enter: function (el, done) {
    //   console.log('enter ' + this.$options.name);
    //   return{
    //     show: true
    //   }
    //   done();
    // },
    // leave: function (el, done){
    //   console.log('Leave');
    //   return{
    //     show: false
    //   }
    //   done();
    // }
  },
  created: function () {
    this.$emit('logoColor', '#ffffff')
    console.log('LOGO COLOR ABOUT: ', '#fff')
    // console.log('emit logo color');
  },
  beforeRouteLeave (to, from, next) {
    console.log('B4 route leave about')
    if (this.show) {
      this.show = false
      setTimeout(function () {
        next()
      }, 300)
    } else {
      next()
    }
  }
}

</script>
<style scoped>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
/* .slide-fade-enter-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  transition-delay: .75s;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 *//* {
  transform: translateX(100%);
  opacity: 0;
} */

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .5s;
  transition-delay: .25s;
}

.hero-image{
  height: 100vh;
}
/* .about-text-wrap{
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    background: #c33333;
    min-width: 400px;
    width: 40%;
} */

.about-text{
    /* position: absolute; */
    z-index: 1;
    width: 85%;
    margin:0 auto;
    /* top: 50%; */
    /* left: 70%; */
    /* transform: translate(-50%, -50%); */
    /* width: 45%; */
}

/* .about-text h2{
  color: #fff;
  font-size: 6rem;
} */
/*
.about-text p{
    font-size: 1.75rem;
    margin-bottom: 0;
} */

.about .menu li a.router-link-exact-active{
  color: rgba(195, 51, 51,  1);
}

.angle-right{
   transition: all .3s ease;
}

button{
    position: relative;
    z-index: 1;
}

/* moving */
.company-move {
  transition: all 600ms ease-in-out 50ms;
}

/* appearing */
.company-enter-active {
  transition: all 300ms ease-out;
  /* transform: translateX(100%); */
  opacity: 1;
}

/* disappearing */
.company-leave-active {
  transition: all 200ms ease-in;
  opacity: 1;
  /* position: absolute; */
  /* z-index: 0; */
  /* transform: translateX(-100%); */
}

/* appear at / disappear to */
.company-enter,
.company-leave-to {
  opacity: 0;
}

.about .icon-jtp-logo{
    color: #fed25b;
    opacity: 0;
    /* right: calc(100% - 20rem); */
    /* font-size: 12rem; */
    /* right: auto; */

}

/* .fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
  transition-delay: .5s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}  */
</style>
