<template>

<div>
    <transition appear name="slide-up-fast" v-if="showMe">
      <!-- <div id="contact-outer" v-on:click="closeContact"> -->
      <div id="contact-outer">
        <!-- <HeroImage v-bind:img="images[0]" v-bind:zoom="false" v-bind:overlay="false"/> -->
        <!-- <div class="contact-blank" v-on:click="closeContact"></div> -->
        <div class="contact-image" style="background-image: url('static/princess.jpg')"  v-on:click="closeContact">

        </div>
        <div class="contact-text-wrap">
            <div class="contact-text">
                <!-- <div class="circle">
                    <span class="icon is-large has-text-centered">
                        <i class="fas fa-paper-plane fa-3x"></i>
                    </span>
                </div> -->

                <h2>Let's talk.</h2>

                <div class="contact-close" @click="closeContact"><!-- <h3>Close</h3> --><i class="fas fa-times"></i></div>
                <form>
                    <fieldset>
                        <div class="field">
                            <label for="nameField">Name</label>
                            <input type="text" placeholder="Name" id="nameField">
                        </div>
                        <div class="field">
                            <label for="phoneField">Phone</label>
                            <input type="text" placeholder="Phone" id="phoneField">
                        </div>
                        <div class="field">
                            <label for="emailField">Email</label>
                            <input type="text" placeholder="Email" id="emailField">
                        </div>
                        <div class="field">
                            <label for="messageField">Message</label>
                            <textarea id="messageField" placeholder="Message" rows="8"></textarea>
                        </div>
                        <input class="button-primary" type="submit" value="Send">
                    </fieldset>
                </form>
                <hr>
                <div class="social-wrap">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

    <!-- <div class="contact_form" > -->
         <!-- <div class="contact-close" v-on:click="close"><h3>Close</h3><i class="far fa-times-circle"></i></div> -->

      </div>
    </transition>
</div>

</template>

<script>
import HeroImage from '@/components/HeroImage.vue'
export default{
  components: {
    HeroImage
  },
  name: 'contact',
  data () {
    return {
      images: [
        { id: 0, url: '/static/seattle.jpg', color: '#fe7f2f' },
        { id: 1, url: '/static/sanfran.jpg', color: '#e3a836' },
        { id: 2, url: '/static/winery.jpg', color: '#e5dab9' },
        { id: 3, url: '/static/canoe.jpg', color: '#9a4c4a' },
        { id: 4, url: '/static/mountain.jpg', color: '#0084b1' },
        { id: 5, url: '/static/bridge.jpg', color: '#537d3e' },
        { id: 6, url: '/static/winery.jpg', color: '#e5dab9' }
      ],
      showMe: false
    }
  },
  watch: {
    show: function () {
      this.showMe = this.show
    }
  },
  props: {
    show: Boolean
  },
  methods: {
    closeContact: function () {
      this.$emit('close')
    }
  },
  created: function () {
    this.$emit('logoColor', '#ffffff')
  },
  beforeRouteLeave (to, from, next) {
    console.log('B4 route leave contact')
    if (this.show) {
      this.show = false
      setTimeout(function () {
        next()
      }, 0)
    } else {
      next()
    }
  }
}
</script>

<style scoped>

.fade-enter-active, .fade-leave-active {
  /* transition-property: opacity;
  transition-duration: .75s;
  transition-delay: 5s; */
}

.fade-enter-active {
  /* transition-delay: .45s; */
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

#contact-outer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    justify-content: flex-end;
    display: flex;
    background: #1a1a1a;
    right: 0;
    z-index: 2;
}

.contact-image{
  width: 65%;
  background-size: cover;
  background-position: center;
}

.contact-text-wrap{
    /* position: absolute; */
    display: flex;
    /* align-items: center; */
    z-index: 3;
    padding: 4rem 4rem;
    /* background: #c33333; */
    /* background: #346c8e; */
    background: #1b1b1b;
    margin: 0 auto;
    /* transform: rotate(5deg); */
    /* -webkit-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
    width: 35%;
    min-width: 48rem;
}

.contact-blank{
    width: 100%;
    /* background: rgba(0,0,0,.75); */
}

.contact-text{
    width: 100%;
    margin: 0 auto;
    /* -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); */
}

.contact-text h2{
    display: block;
    float: left;
    width: 50%;
    text-align: left;
}
.contact-close{
    color: #fff;
    /* position: absolute; */
    /* top: 6rem; */
    /* margin-top: 1rem; */
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    float: right;
    padding: 0;
    background: #4a4a4a;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .25s background ease-in-out;
}

.contact-close:hover{
    background: #333;
}

.contact-close i{
    font-size: 2rem;
}

.contact-close h3{
    margin: 0 .5rem 0 0;
    font-size: 2rem;
}

    /* .main{
        height: 100%;
        background: #000;
        display: flex;
        align-items: center;
    } */

    .social-wrap i{
        color: #555;
        font-size: 4rem;
        margin-right: 2rem;
        transition: color .25s ease-in-out;
    }

    .social-wrap i:hover{
        color: #c33333;
    }

hr{
    border-top: 0.1rem solid #555;
}

    .contact_form{
        /* position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 10;
        background: #000; */
    }

    .vert-center h2{
        /* margin:0; */
    }

    h2{
        color:#fff;
    }

    input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: #fff;
        /* border: 0.1rem solid #d1d1d1; */
        color: #444;
        font-size: 1.5rem;
        font-weight: 600;
        border: none;
        border-radius: .75rem;
        box-shadow: none;
        box-sizing: inherit;
        height: 3.8rem;
        padding: .6rem 1.0rem;
        width: 100%;
    }

    fieldset, .button-primary{
        margin-bottom: 0;
    }

    textarea{
        width: 100%;
        padding: .6rem 1.0rem;
        background-color: #fff;
        color: #444;
        border-radius: .75rem;
        border: none;
        font-size: 1.5rem;
        font-weight: 600;
    }

    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    #909;
        opacity:  1;
    }

    input:focus::placeholder, textarea:focus::placeholder{
         opacity:  .5;
    }
    ::placeholder { /* Mozilla Firefox 19+ */
        color:  #333;
        opacity:  .75;
        transition: opacity .25s ease-in-out;
    }

   .field label{
        opacity: 0;
        width: 1px;
        height: 1px;
    }
    /*

    .field input, .field textarea{
        display: inline-block;
        width:65%
    } */

    form{
        /* width: 75%; */
        margin: 0 auto;
    }

    form fieldset{
        width: 100%;
        padding:0;
    }

</style>
