<template>
    <div class="main featured-wrap">
        <div class="container full-width">
          <!-- <div class="row heading" v-bind:style="{ 'background-image': 'url(' + destinations[0].url + ')' }">
            <div class="overlay"></div>
            <div class="column column-100">
                <h1 class="vert-center">Featured</h1>
            </div>
          </div> -->

          <!-- <transition-group appear name="slide-fade" v-if="show"> -->
            <div class="row row-wrap cube" v-lazyload2 v-for="(city, index) in cities"  v-bind:key="city.id" :class="'reverse-'+((index % 2)+1)">
                  <div class="column column-40 text">
                     <div class="info vert-center">
                    <h2>{{ city.title }}</h2>
                    <ul>
                      <li>Destination</li>
                      <li>United States</li>
                    </ul>
                    <button class="button-primary">More Info</button>
                    </div>
                  </div>
                  <div class="column column-60 image">
                  <div class="inner-wrap" v-bind:style="{ 'background-image': 'url(' + city.url + ')' }">
                  </div>
                </div>
            </div>
          <!-- </transition-group> -->
        </div>
        <!-- <div class="container">
            <h2>Destinations</h2>
            <div class="row row-wrap cube">
                <div class="column column-33" v-for="dest in destinations" v-bind:key="dest.id">
                    <img :src="dest.url">
                    <h4>{{ dest.title }}</h4>
                </div>
            </div>
        </div> -->
    </div>

</template>

<script>
export default{
  name: 'featured',
  data () {
    return {
      show: true,
      cities: [
        { id: 1, url: '/static/grass.jpg', color: '#f2b312', width: '1372', height: '734', tag: 'wedding', title: 'City Wedding' },
        { id: 2, url: '/static/rooftop.jpg', color: '#c61724', width: '1372', height: '734', tag: 'engagement', title: 'Rooftop Wedding' },
        { id: 3, url: '/static/seattle.jpg', color: '#c61724', width: '1372', height: '734', tag: 'portrait', title: 'Sleepless in Seattle' },
        { id: 5, url: '/static/winery.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding', title: 'Winery Wedding' }

      ],
      destinations: [
        { id: 0, url: '/static/indian_wedding.jpg', color: '#740092', width: '1372', height: '734', tag: 'wedding', title: 'Indian Wedding' },
        { id: 6, url: '/static/sanfran.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding', title: 'I left my heart' },
        { id: 4, url: '/static/beach.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding', title: 'Island Getaway' }
      ]
    }
  },
  created: function () {
    this.$emit('logoColor', '#c33333')
    this.$emit('logoHover', '#pink')
    this.$emit('navbarColor', '#c33333')
    // this.$emit('logoColor', this.logoColor())
    // const observer = new IntersectionObserver(
    //   (entries, observer) => {
    //     entries.forEach(entry => {
    //     /* Here's where we deal with every intersection */

    //       console.log('~~~~~~~~~~~~~~Intersection~~~~~~~~~~~~~~~~')
    //       entry.target.classList.add('show')
    //     })
    //   },
    //   { root: null, threshold: 0 })
    // document.querySelectorAll('.cube').forEach(cube => { observer.observe(cube) })
  },
  mounted: function () {
    this.$emit('navbarColor', '#c33333')
    // console.log(document.querySelectorAll('.cube'))
  }
}
</script>

<style scoped lang="sass">

</style>

<style>
 .featured .top-menu li a, .featured .top-menu span{
    /* background-image: linear-gradient(to left, #333,#333 50%, #fff 50%);
    background-size: 200% 100%;
     background-position: -100%;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  }

  /* .featured .navbar-item:before{
    background: #333;
  } */
</style>

<style scoped>
    .main{
      background: #fff;
    }

    .featured-wrap{
      padding-top: 6rem;
    }

    .reverse-1{
      flex-direction: row;
      margin-bottom: 3rem;
      transform:translateX(35%);
    }

    .reverse-2{
      flex-direction: row-reverse;
      margin-bottom: 3rem;
      transform:translateX(-35%);
      transition-delay: .5s;
    }

    .cube{
      transition: all 1s ease-in-out;
      /* min-height: 400px; */
      opacity: 0;
    }

    .cube.reverse-2{
      transition-delay: .5s;
    }

    .cube.show{
      transform: translateX(0);
      opacity: 1;
      /* visibility: visible; */
    }

    .heading{
      background: #c33333;
      min-height: 50rem;
      background-size: cover;
      background-position: 50%;
      position: relative;
      /* margin-bottom: 3rem; */
    }

    .heading .column{
      position: relative;
    }

    h4, h3, h2, h1{
        /* color: #fff; */
    }

    .inner-wrap{
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    /* padding: 1rem; */
    }
/*
    .cube .column{
      height:0;
      padding-bottom: 35%;
      position: relative;
      background: #fff;
    }

    .cube .info{
      width: 75%;
      position: absolute;
      bottom: 3rem;
      z-index: 5;
      text-align: left;
    }

    .cube h2{
      font-size: 4.5rem;
      color: #333;
    }

    .cube button{
      color: #fff;
      background: #c33333;
    }

    .cube ul{
      margin-left: 1rem;
      color: #333;
      font-size: 2rem;
      font-weight: 400;
    } */

</style>

<style>
 /* body.featured{
        background: #f4f5f6;
        height: 100%;
    } */

     .featured  .header-spacer{
      height: 6rem;
    }
</style>
