<template>
    <!-- <transition appear name="fade-slow" mode="out-in"> -->

        <div class="hero-image hero-body candle-image" v-bind:class="{zoom: zoom}" v-bind:style="{ background: 'url(' + theImage.url +')'}">
          <div v-if="overlay" class="overlay"><!-- <h2 class="has-color-white vert-center">{{ theImage }}</h2>--></div>
            <!-- <div class="vert-right">
              <span class="icon-jtp" v-bind:style="{color:theImage.color}"></span>
              <h2 class="title has-color-white" v-bind:show="true">Photography inspired by <span v-bind:style="{color:theImage.color}" class="jtp-span">you.</span></h2>
            </div> -->
       </div>
    <!-- </transition> -->
</template>

<script>
export default {
  name: 'HeroImage',
  props: ['img', 'overlay', 'zoom', 'imgs'],
  data () {
    return {
      show: true
    }
  },
  computed: {
    theImage () {
      if (this.img) {
        // console.log('this image');
        // console.log(this.img[this.img_id]);
        return this.img
      } else {
        return ''
      }
      // console.log(this.img[0])
    },
    slideShow () {
      return ''
    }
  }
}
</script>

<style scoped>
  .icon-jtp-logo{
    font-size: 25rem;
  }

  .icon-jtp{
    font-size: 12rem;
  }

  .title{
    font-size: 6rem;
    width: 52rem;
  }

  @-webkit-keyframes changeBackground {
  0% {  background-image: url("https://unsplash.it/1000?image=1080"); }
  25% {  background-image: url("https://unsplash.it/1000?image=1081"); }
  50% { background-image: url("https://unsplash.it/1000?image=1064"); }
  75% {background-image: url("https://unsplash.it/1000?image=1078"); }
  100% {background-image: url("https://unsplash.it/1000?image=1080"); }
}

@keyframes changeBackground {
  0% {  background-image: url("https://unsplash.it/1000?image=1080"); }
  25% {  background-image: url("https://unsplash.it/1000?image=1081"); }
  50% { background-image: url("https://unsplash.it/1000?image=1064"); }
  75% {background-image: url("https://unsplash.it/1000?image=1078"); }
  100% {background-image: url("https://unsplash.it/1000?image=1080"); }
}

.letterAnimation {
  -webkit-animation: changeBckg 16s ease infinite;
  animation: changeBckg 16s ease infinite;
}
</style>

<style>
.fade-enter-active {
  transition: opacity .75s ease;

}
.fade-leave-active {
  transition: all 2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .fade-leave-to{
  /* transform: translate(100%, -50%); */
  opacity: 0;
}

.fade-slow-enter-active {
  transition: opacity .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);

}
.fade-slow-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-slow-enter, .fade-slow-leave-to{
  /* transform: translate(100%, -50%); */
  opacity: 0;
}

.fade-enter-active{
  /* transition-delay: .5s; */
}

.slide-test-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 5s, opacity 1s;
}

.slide-test-leave-active,
.slide-right-leave-active {
  /* position: absolute;
  height: 100vh;
  left:0;
  right:0; */
}

.slide-test-enter,
.slide-right-leave-to {
  transform: translate3d(100%,0,0);
}

.slide-right-enter,
.slide-test-leave-to {
  transform: translate3d(-100%,0,0);
}

.hero-image{
    /* height: 100%; */
    /* min-height: 600px; */
    -webkit-transition: background 1.25s linear;
    -moz-transition: background 1.25s linear;
    -ms-transition: background 1.25s linear;
    transition: background 1.25s linear;
    /* position: absolute; */
    /* transition: transform 5s ease; */
    /* animation: zoomIn 15s; */
    /* transform 5s ease; */
    /* transform: scale(1.1); */
}

.zoom.hero-image{
    animation: zoomIn 7.5s;
    transform: scale(1.25);
}

  @-webkit-keyframes zoomIn {
      0%{
          -webkit-transform: scale(1);
      }
      100%{
          -webkit-transform: scale(1.25);
      }
  }

  @keyframes zoomIn {
      0%{
          transform: scale(1);
      }
      100% {
          transform: scale(1.25);
      }
  }

    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        background: rgba(0,0,0,.25);
        z-index: 0;
    }
</style>
