<template>
  <div class="inner-wrap" style="background:#fff">
      <!-- <transition appear name="slide-fade-left">
      <span class="icon-jtp-logo transition-medium" v-bind:style="{color:images[img_id].color}"></span>
      </transition> -->

      <!-- <transition appear name="fade" mode="out-in">
        <span class="icon-jtp-logo transition-slow" v-bind:style="{color: logo_color}"></span>
        </transition>  -->
    <section class="container full-width hero">
      <!-- <transition appear name="fade" mode="out-in" v-if="show"> -->
        <HeroImage v-bind:img="slideImg" v-bind:imgs='images' v-bind:zoom="false" v-bind:overlay="true"/>
      <!-- </transition> -->
      <!-- <div class="overlay"></div> -->
        <transition appear name="slide-fade" v-if="show">
        <div class="vert-right">
          <div class="inner-wrap">
            <span class="icon-jtp" v-bind:style="{color:images[img_id].color}"></span>
            <h2 class="title has-color-white" v-bind:show="true">Photography inspired by <span v-bind:style="{color:images[img_id].color}" class="jtp-span">you.</span></h2>
          </div>
        </div>
          </transition>
          <!-- <ul>
            <h2 v-for="item in list" v-bind:key="item" class="has-color-white" style="display: inline-block;"> {{ item.msg }} </h2>
          </ul> -->
        <!-- </div> -->
        </transition>
      </section>
      <!-- <section class="container full-width padding-4 has-background-white">
         <div class="row">
           <div class="column column-33" style="background-image: url(/static/fan-pattern.png);">

           </div>
          <div class="column column-100">
            <h2 class="has-color-dark size-10" style="padding: 12rem 0;">Cool heading here.</h2>
            <div class="overlayer"></div>
          </div>
        </div>
      </section> -->
      <div class="wave wedding-engagement">
        <!-- <img src="/static/background3.svg" class="curvy"> -->
      <section class="container weddings full-width padding-12 has-background-white home-sec" style="background: transparent;">
        <transition-group appear tag="div" name="staggered-fade" class="arrow-wrap" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter">
          <!-- <div class="arrow-wrap"> -->
              <i class="fas fa-angle-down one" v-bind:data-index=1 v-bind:key="1234"></i>
              <i class="fas fa-angle-down two" v-bind:data-index=2 v-bind:key="3412"></i>
              <i class="fas fa-angle-down three" v-bind:data-index=3 v-bind:key="4321"></i>
            <!-- </div> -->
        </transition-group>
         <div class="row">
          <div class="column column-50">
            <!-- <div class="round-box"> -->
            <div class="box fade" v-lazyload2>
              <div class="box-inner">
                <img src="/static/wedding-dress.svg" class="icon">
                <!-- <i class="fas fa-church has-color-dark" style="margin-bottom: 2rem;"></i> -->
                <h2 class="has-color-dark size-6">Weddings</h2>
                <p> I’ve experienced much through the lens of my camera and am excited to capture the anticipation, the laughter, and the memories of your wedding for you to enjoy in the years to come.</p>
                <router-link to="/featured">
                <button>Featured Weddings</button>
                </router-link>
              </div>
            </div>

          </div>
          <div class="column column-spacer"></div>
          <div class="column column-40 stacks">
            <!-- <div class="column stacks" v-bind:style="{background: 'url('+images[7].url+') center / cover'}"> -->
              <img src="/static/grass-crop2.jpg" class="three stack top" v-lazyload2 v-on:click="selectStack">
              <img src="/static/seattle-crop2.jpg" class="four stack" v-lazyload2 v-on:click="selectStack">
            </div>
          <!-- <div class="column" v-bind:style="{background: 'url('+images[0].url+')'}"> -->
            <!-- {{ images[6] }} -->
          <!-- </div> -->
        </div>
      </section>
      <section class="container full-width padding-12 has-background-white home-sec" style="background: transparent;">
         <!-- <div class="background-fan"></div> -->
         <div class="row">
          <div class="column column-40 stacks">
            <img src="/static/space_needle_crop.jpg" class="two stack top" v-lazyload2 v-on:click="selectStack">
            <img src="/static/lucas_hannah_crop.jpg" class="one stack" v-lazyload2 v-on:click="selectStack">
          </div>
          <div class="column column-spacer"></div>
          <div class="column column-50">
            <!-- <div class="round-box"> -->
            <div class="box fade" v-lazyload2>
              <div class="box-inner">
              <!-- <i class="fas fa-ring has-color-dark"></i> -->
              <img src="/static/ring.svg" class="icon">
              <!-- <span class="rings"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="rings-wedding" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-rings-wedding fa-w-16 fa-5x"><path fill="currentColor" d="M351.25 160.77A206.38 206.38 0 0 1 379.9 233 112 112 0 1 1 224 336c0-42.21 23.69-78.57 58.31-97.49 3.37 10.64 5.69 21.75 5.69 33.49a111.34 111.34 0 0 1-30.73 76.6A79.84 79.84 0 0 0 293 403.23 175.36 175.36 0 0 0 352 272c0-81.62-55.64-150.07-131-170l35-70-32-32h-96L96 32l35 70C55.64 121.93 0 190.38 0 272a176 176 0 0 0 176 176 171.77 171.77 0 0 0 22.94-1.71A175.93 175.93 0 0 0 512 336c0-92-70.7-167.49-160.75-175.23zM64 272a112.12 112.12 0 0 1 112-112c26.85 0 51.19 9.88 70.5 25.69C194.94 216.24 160 271.68 160 336a175.89 175.89 0 0 0 6.55 47C109.28 378.16 64 330.52 64 272z" class=""></path></svg></span> -->
              <h2 class="has-color-dark size-6">Engagements</h2>
              <p class="has-color-dark"> I’ve experienced much through the lens of my camera and am excited to capture the anticipation, the laughter, and the memories of your engagement for you to enjoy in the years to come.</p>
              <router-link to="/featured">
              <button>Featured Engagements</button>
              </router-link>
              </div>
            </div>

          </div>
          <!-- <div class="column"></div> -->

          <!-- <div class="column" v-bind:style="{background: 'url('+images[0].url+')'}"> -->
            <!-- {{ images[6] }} -->
          <!-- </div> -->
        </div>
      </section>
      </div>
      <section class="container full-width padding-12 has-background-dark background-fan">
        <!-- <div class=""></div> -->
        <h2 class="margin-6 size-5 fade" v-lazyload2>Photography by numbers</h2>
        <div class="row">
          <div class="column fade" v-lazyload2><div class="box shadow reverse round has-background-dark"><i class="fas fa-camera-retro"></i><h4><span class="has-color-primary size-4">15</span> years of experience</h4></div></div>
          <div class="column fade" v-lazyload2><div class="box shadow reverse round has-background-dark"><i class="fas fa-ring"></i><h4><span class="has-color-primary size-4">450</span> weddings</h4></div></div>
          <div class="column fade" v-lazyload2><div class="box shadow reverse round has-background-dark"><img src="/static/usa.svg" style="width: 12rem;
    margin: 0 auto;"><h4><span class="has-color-primary size-4">16</span> states</h4></div></div>
          <div class="column fade" v-lazyload2><div class="box shadow reverse round has-background-dark"><i class="fas fa-globe-americas"></i><h4><span class="has-color-primary size-4">4</span> countries</h4></div></div>
        </div>
      </section>
  </div> <!--END WRAP-->
</template>

<script>
import HeroImage from '@/components/HeroImage.vue'
// import {eventBus} from '../main.js';
export default {
  name: 'home',
  props: {
    page_name: String
  },
  components: {
    HeroImage
  },
  data () {
    return {
      show: true,
      images: [
        { id: 0, url: '/static/balcony.jpg', color: '#fe7f2f' },
        { id: 1, url: '/static/sanfran.jpg', color: '#e3a836' },
        { id: 2, url: '/static/winery.jpg', color: '#e5dab9' },
        { id: 3, url: '/static/canoe.jpg', color: '#9a4c4a' },
        { id: 4, url: '/static/mountain.jpg', color: '#0084b1' },
        { id: 5, url: '/static/bridge.jpg', color: '#537d3e' },
        { id: 6, url: '/static/grass.jpg', color: '#e5dab9' }
      ],
      swapIt: null,
      img_id: 0,
      query: '',
      list: [
        { msg: 'Weddings', link: '/weddings', id: 0, mouse: '/static/Hero5.jpg' },
        { msg: 'Enagements', link: '/engagements', id: 1, mouse: '/static/sanfran.jpg' },
        { msg: 'Portraits', link: 'portraits', id: 2, mouse: '/static/beach.jpg' }
      ]
    }
  },
  methods: {
    beforeEnter: function (el) {
      console.log('Before enter')
      // el.style.opacity = 0
      // el.style.transform = 'rotate(50px)'
      el.style.cssText = 'transform: translateY(-20px); opacity: 0;'
      // el.style.transform = 'translate(-10px, 10px)'
    },
    enter: function (el, done) {
      console.log('ENTER THE DRAGON: ', el.dataset.index)
      var delay = el.dataset.index * 150

      setTimeout(function () {
        Velocity(
          el,
          { opacity: 0.45, translateX: '0' },
          // { opacity: 0.5 },
          { complete: done }
        )
      }, delay)
    },
    moveArrow: function () {
      var arrows = document.getElementsByClassName('.fa-angle-down')
      console.log(arrows)
    },
    logoColor: function () {
      // console.log('logoColor: ' + this.img_id);
      return this.images[this.img_id].color
    },
    startSlide: function () {
      // var count = 0
      this.swapIt = setInterval(this.next, 7500)
    },
    next: function () {
      // count += 1
      this.img_id = randomNum(this.img_id)
      this.$emit('logoColor', this.logoColor())
      // console.log('INTERVAL: ', count)
    },
    selectStack: function (e) {
      console.log('Stack Click: ', e.target)
      // if (e.target.classList.toggle('s'))
      // console.log('e.target: ', e.target.parentElement.getElementsByClassName('stack'))
      // var stacks = document.getElementsByClassName('stack')
      var stackDiv = e.target.parentElement

      var stacks = Array.from(e.target.parentElement.getElementsByClassName('stack'))
      console.log('stackDiv: ', stackDiv)
      console.log('STACKS 0: ', stacks) // will print the object

      stackDiv.classList.toggle('switch')
      setTimeout(function () {
        stackDiv.classList.toggle('switch')
        stacks.forEach(function (el) {
          console.log('TOGGLE TOP')
          el.classList.toggle('top')
        })
      }, 250)

      // stacks.forEach(function (el) {
      //   el.classList.toggle('top')
      // })

      if (!(e.target.classList.contains('toTheFront'))) {
        console.log('Is Selected')

        // stacks.forEach(function (el) {
        //   el.classList.remove('selected')
        // })

        // setTimeout(function () {
        //   stacks.forEach(function (el) {
        //     el.classList.remove('toTheFront')
        //     console.log('REMOVE IT')
        //   })
        // }, 400)

        // setTimeout(function () {
        //   e.target.classList.toggle('selected')
        //   e.target.classList.add('toTheFront')
        // }, 550)
        // e.target.classList.toggle('selected')
      }
    }
  },
  computed: {
    slideImg: function () {
      return this.images[this.img_id]
    }
  },
  beforeRouteLeave (to, from, next) {
    console.log('B4 route leave home')
    if (this.show) {
      this.show = false
      setTimeout(function () {
        next()
      }, 250)
    } else {
      next()
    }
  },

  mounted: function () {
    this.$emit('navbarColor', '#c33333')
    // this.$emit('logoHover', '#bdbdbd')
    this.$emit('logoColor', this.logoColor())
    // this.$emit('navbarColor', '#c33333')
    this.$emit('logoHover', '#fff')
    this.startSlide()
    this.moveArrow()
    // var intervalID = window.setInterval(randomNum(), 500)
    // setTimeout(function () {
    //   console.log('Change HERO')
    //   console.log(randomNum())
    //   // this.img_id, = randomNum()
    //   // console.log(this.img_id)
    // }, 2000)
    // this.img_id = randomNum()
    // console.log('image_id: ',this.img_id);
    // this.$emit('logoColor', this.logoColor());
  },
  created: function () {
    // this.$emit('logoColor', this.logoColor())
    // this.$emit('navbarColor', '#232323')
    var images = this.images
    var images2 = []
    for (var i = 0; i < images.length; i++) {
      images2[i] = new Image()
      images2[i].src = images[i].url
    }
    this.$emit('navbarColor', '#c33333')
    // this.$emit('logoHover', '#bdbdbd')
    this.$emit('logoColor', this.logoColor())
    // this.$emit('navbarColor', '#c33333')
    this.$emit('logoHover', '#fff')
    console.log('emit logo color')
  }
  // computed:{
  //   styleObject: function() {
  //     return {
  //       '--color': '#fff',
  //       '--color-hover': this.logoColor()
  //     }
  //   }
  // }
  // computed: {
  //   computedList: function () {
  //     var vm = this
  //     return this.list.filter(function (item) {
  //       return item.msg.toLowerCase().indexOf(vm.query.toLowerCase()) !== -1
  //     })
  //   }
  // },
  // methods: {
  //   beforeEnter: function (el) {
  //     el.style.opacity = 0
  //     el.style.height = 0
  //   },
  //   enter: function (el, done) {
  //     var delay = el.dataset.index * 150
  //     setTimeout(function () {
  //       Velocity(
  //         el,
  //         { opacity: 1, height: '1.6em' },
  //         { complete: done }
  //       )
  //     }, delay)
  //   },
  //   leave: function (el, done) {
  //     var delay = el.dataset.index * 150
  //     setTimeout(function () {
  //       Velocity(
  //         el,
  //         { opacity: 0, height: 0 },
  //         { complete: done }
  //       )
  //     }, delay)
  //   }
  // }

}

function randomNum (id) {
  console.log('LOOPY: ', id)
  var min = Math.ceil(0)
  var max = Math.ceil(6)
  var num = Math.floor(Math.random() * (max - min) + min)
  while (num === id) {
    console.log('WHILE')
    num = Math.floor(Math.random() * (max - min) + min)
  }
  //  console.log(Math.floor(Math.random() * (max - min) + min));
  console.log('Return It: ', num)
  return num
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

/* .hero{
  overflow: hidden;
  height: 100vh;
} */

.home-sec{
  /* min-height: 600px; */
}

.home .top-menu li a,.home .top-menu span{
  color: #fff !important;
}

</style>

<style scoped>

.home .icon-jtp-logo-home{
    font-size: 25rem;
    position: absolute;
    /* left: 4rem; */
    /* right: 0; */
    left: calc(100% - 38rem);
    transform: translate(0, -50%);
    z-index: 1;
    top: 50%;

}

.hero{
  overflow: hidden;
  height: 100vh;
}

.wave{
    background-image: url(/static/background3.svg);
    /* overflow-x: hidden; */
    background-size: cover;
    background-repeat: no-repeat;
}

.jtp-span, .icon-jtp {
    -webkit-transition: color 1.25s ease-in-out;
    transition: color 1.25s ease-in-out;
}

.icon{
 width: 14rem;
    margin: 0 auto;
}

.rings path{
  color: #232323;
}

.rings svg{
  width: 12rem;
}

.box i{
  display: block;
}

.weddings{
  /* background-image: url(/static/fan-pattern.png); */
  /* overflow-x: hidden; */
  background-size: 14rem;
}
.background-fan{
    background-image: url('/static/fan-pattern.png');
    background-size: 14rem;
    /* position: absolute; */
    /* z-index: 1; */
    /* width: 55%; */
    /* top: 0; */
    /* left: -6rem; */
    /* bottom: 0; */
}

.stacks{
  position: relative;
}

.stack{
  position: absolute;
  opacity: 0;
  transition: transform .75s ease-in-out, opacity .75s ease-in-out;
  cursor: pointer;
  box-shadow: 3px 3px 10px #585858;
}

.stack.show{
  opacity: 1;
}

.switch .stack{
  /* z-index: 1; */
  /* transform: rotate(0); */
  transition: transform .35s ease-in-out, opacity .75s ease-in-out !important;
  /* transform: translateY(-108%); */
}

.stack.selected, .stack.stack.toTheFront{
  transition: transform .5s ease-in-out
}

.stack.one.show.selected{
  /* transform: rotate(-10deg) translateY(-105%); */
  /* transform: rotate(-10deg) translateY(-105%); */
  transform: rotate(-10deg) translateX(130%) translateY(-50%);
}
.stack.two.show.selected{
  /* transform: rotate(6deg) translateY(-120%); */
  transform: rotate(6deg) translateX(100%);
}

/* .stack.three.show.selected{
  transform: rotate(7.5deg) translateY(-150%);
}
.stack.four.show.selected{
  transform: rotate(-7.5deg) translateY(-90%);
} */

.stack.top{
  z-index: 3 !important;
}

.stack.one{
    z-index: 1;
    /* left: 0; */
    /* bottom: 0; */
    position: relative;
    transform: rotate(-10deg) translateX(-100%);
    left: 0;
    top: -30%;
    /* top: -15rem; */
     /* transition-delay: 1s; */
}

.stack.two{
    left: 28px;
    transform: rotate(6deg) translateX(-100%);
    z-index: 1;
}

.stack.three{
    z-index: 1;
    position: relative;
    left: 0;
    /* bottom: -15rem; */
    bottom: -40%;
    transform: rotate(7.5deg) translateX(100%);
}

.stack.two.show{
  transform: rotate(6deg) translateX(0);
}

.stack.one.show{
  transform: rotate(-10deg) translateX(0);
}

.stack.three.show{
  transform: rotate(7.5deg) translateX(0);
}

.switch .stack.three.show{
  z-index: 1;
  transform: rotate(15deg) translateY(50%);
}

.switch .stack.four.show{
  transform: rotate(0deg) translateY(-50%);
}

.switch .stack.one.show{
  z-index: 1;
  transform: rotate(10deg) translateX(70%);
}

.switch .stack.two.show{
  transform: rotate(-6deg) translateX(-70%);
}

.stack.four{
    z-index: 1;
    left: 0;
    /* transition-delay: 1s; */
    /* top: -50px; */

    transform: rotate(7.5deg) translateX(100%);
}

.stack.four.show{
  transform: rotate(-7.5deg) translateX(0);
}

.stack.toTheFront {
    transform: translateY(0%);
    z-index: 3;
}

.stack.one.stack.toTheFront{
  transform: rotate(-10deg) translateY(0%)
}

.stack.two.toTheFront {
    transform: rotate(6deg) translateY(0%);
    /* z-index: 3; */
}

.stack.three.stack.toTheFront{
  transform: rotate(7.5deg) translateY(0%)
}

.stack.four.toTheFront {
    transform: rotate(-7.5deg) translateY(0%);
    /* z-index: 3; */
}

.logo-fade-enter-active, .logo-fade-leave-active {
  transition: opacity 2s;
  transition-delay: .25s;
  /* transform: translateX(-200%); */
}
.logo-fade-enter, .logo-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translate(100%, -50%);
}

/* .icon-jtp{
  font-size: 16rem;
} */

.vert-center{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-65%, -50%);
}

/* .arrow-wrap i{
  font-size: 10rem;
  line-height: 4rem;
  margin-top: 1.5rem;
  opacity: .5;
  color: #333 */
  /* transition: 1s transform ease-in-out; */
/* } */

.fa-angle-down{
    /* animation: move-arrow 1s; */
    animation-iteration-count: infinite;
    display: block;
}

.fa-angle-down.one{
  animation: move-arrow 2.5s;
  animation-delay: 1.25s;
  animation-iteration-count: infinite;
}

.fa-angle-down.two{
  /* display: none; */
  animation: move-arrow 2.5s;
  animation-delay: 1.15s;
  animation-iteration-count: infinite;
}

.fa-angle-down.three{
  /* display:none; */
  animation: move-arrow 2.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes move-arrow {
  0%, 30%{
    transform: translateY(0);
    /* animation-delay: 2s; */
  }

  15%{
    transform: translateY(10px);
    /* animation-delay: 1s; */
  }
}

.Monkey{
  width: 300px;
  height: auto;
}

h1, h2 {
  font-weight: normal;
}

.icon-jtp-logo{
  font-size: 25rem;
}

a {
  /* color: #42b983; */
  color: #fff;
}

a:hover{
  color: #ccc;
}

.text{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
}

.text h2:last-child{
  margin-bottom: 0;
}

.text h2{
  font-size: 4em;
  color: #fe7f2f;
  color: #fff;
  margin-bottom: 3rem;
}

.columns{
  padding: 4rem;
}

.category{
  font-size: 6rem;
  text-align: left;
}

</style>

<style>
/* .home{
  height: 100vh;
} */

/* .slide-fade-left-enter-active {
  transition: all .5s ease;
}
.slide-fade-left-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-left-enter, .slide-fade-left-leave-to{
  transform: translate(100%, -50%);
  opacity: 0;
}
.slide-fade-enter-active{
  transition-delay: .5s;
} */

   /* .slide-fade-left-leave{
    transform: translateX(200%);
  } */

  /*Slide left*/

  .slide-left-leave-active{
    transform: translate(-100%, 0);
  }

  .slide-left-enter-active{
    transform: translate(0 , 0);
  }
  .home .icon-jtp-logo{
    color: #fe7f2f;
  }

  /* .fade-enter-active {
    transition-delay: 2s;
  } */
</style>
