<template>
  <!-- <figure class="image-wrap column column-50" v-lazyload :height="height" v-bind:class="{ loaded: isActive }"> -->
  <figure class="image-wrap column" :height="height" v-bind:class="{ loaded: isActive }">
      <!-- <img class="image" :data-url="source" :src="source" alt="alt_image" height="auto" :width="width"> -->
      <img class="image" :src="source" alt="alt_image" height="auto" :width="width">
  </figure>
</template>

<script>
export default {
  name: 'imageitem',
  data () {
    return {
      show: true
    }
  },
  props: {
    source: {
      type: String,
      required: true
    },
    color: {
      type: String
    },
    height: {
      type: String
    },
    width: {
      type: String
    },
    isActive: {
      type: Boolean
    }
  },
  // data(){
  // return{
  //     isActive: true
  // };
  // },
  methods: {
    loadedFunction: function () {
      // console.log('LOADED')
      // var test = document.getElementsByClassName('image-wrap')
      // for (var i = 0; i < test.length; i++) {
      //   console.log('Width: ' + test[i].clientWidth)
      //   test[i].style.width = test[i].clientWidth + 'px'
      // }

      // console.log(test)
      // return 'Josh';
    }
  },
  created: function () {
    // console.log('Created');
    this.loadedFunction()
    // console.log('emit logo color');
  }
}

</script>

<style scoped>

img{
  /* transition: all 1s ease-in-out; */
    /* display: block; */
    /* min-height: 250px; */
    /* margin-bottom: 60px; */
    /* height: auto; */
    /* width: 90%; */
 }

.image-wrap.loaded{
    visibility: visible;
    opacity: 1;
    border: 0;
  }

  /* .image-wrap.left{
     justify-content: flex-start;
  }

  .image-wrap.right{
      justify-content: flex-end;
  }

  .image-wrap.right.loaded{
      justify-content: flex-end;
      transform: translateX(0);
      transition-delay: .5s;
  }

  .image-wrap.left.loaded{
    justify-content: flex-start;
    transform: translateX(0);
    transition-delay: .75s;
  }  */

  /* .image-wrap.left.loaded img{
      margin-right: 4rem;
  }

  .image-wrap.right.loaded img{
      margin-left: 4rem;
  } */

  .image-wrap {
    /* display:flex; */
    max-width: 100%;
    /* min-width: 400px; */
    margin: 0;
    line-height: 0;
    margin-bottom: 2rem;
    /* padding: .5rem; */
    /* transition: all 1s; */
    /* display: inline-block; */
    cursor: pointer;
    /* min-height: 80vh; */
    min-height: auto;
    /* border-radius: 4px; */
    transition: all 1s ease-in-out;
    /* opacity: 0; */
    /* visibility: hidden; */
    /* margin-bottom: 2rem; */

  }

  /* .right{
       transform: translateX(-98%);
  }

  .left{
    transform: translateX(98%);
  }  */

</style>

<style>
.loaded img{
    height: auto;
    min-height: auto;
}
</style>
