<template>
    <!-- <transition name="fade" appear> -->
        <!-- <div> -->
        <!-- <figure v-lazyload class="image-wrap" v-bind:style="{ background: color}"> -->

        <figure v-lazyload class="image-wrap column column-60" :height="height" v-bind:class="{ loaded: isActive }">
            <img class="image" :data-url="source" alt="alt_image"  :width="width">
        </figure>
        </a>
        <!-- </div> -->
    <!-- </transition> -->
</template>

<script>
export default {
  name: 'imageitem',
  props: {
    source: {
      type: String,
      required: true
    },
    color: {
      type: String
    },
    height: {
      type: String
    },
    width: {
      type: String
    },
    isActive: {
      type: Boolean
    }
  },
  // data(){
  // return{
  //     isActive: true
  // };
  // },
  methods: {
    loadedFunction: function () {
      // console.log('LOADED');
      // console.log(this);
      // return 'Josh';
    }
  },
  created: function () {
    // console.log('Created');
    this.loadedFunction()
    // console.log('emit logo color');
  }
}
</script>

<style scoped>

/* img{ */
    /* display: block; */
    /* min-height: 500px; */
    /* margin-bottom: 60px; */
    /* height: auto; */
    /* width: 90%; */
/* } */

/* .loaded img{
    height: auto;
} */

/* .image-wrap.loaded, .image-wrap2{
    visibility: visible;
    opacity: 1;
    border: 0;
  } */

  /* .image-wrap.left{
     justify-content: flex-start;
  } */

  /* .image-wrap.right{
      justify-content: flex-end;
  }

  .image-wrap.right.loaded{
      justify-content: flex-end;
      transform: translateX(0);
      transition-delay: .5s;
  } */

  /* .image-wrap.left.loaded{
    justify-content: flex-start;
    transform: translateX(0);
    transition-delay: .5s;
  }  */

  /* .image-wrap.left.loaded img{
      margin-right: 4rem;
  }

  .image-wrap.right.loaded img{
      margin-left: 4rem;
  } */

  .image-wrap {
    transition: all 1s;
  display: inline-block;
  margin-right: 10px;
  }

  /* .right{
       transform: translateX(98%);
  }

  .left{
    transform: translateX(-98%);
  }  */

</style>
