<template>
    <div class="lightbox">
        <nav class="lightbox-nav">
            <div class="lightbox-close" v-on:click="close"><h3>Close</h3><i class="far fa-times-circle"></i></div>
            <!-- <button v-on:click="close">Close</button> -->
        </nav>
        <i class="fas fa-angle-right next light-nav" v-on:click="next"></i>
        <i class="fas fa-angle-left prev light-nav" v-on:click="prev"></i>
        <!-- <button class="next light-nav" v-on:click="next">next</button> -->
        <!-- <button class="prev light-nav" v-on:click="prev">prev</button> -->
        <!-- <transition-group appear name="fade"> -->

            <div class="lightbox-item">
                <!-- {{images[lb]}} -->
                 <transition name="fade">
                    <img :src="images[lb2].url" :key="images[lb2].id">
                 </transition>
            </div>
            <!-- <div class="lightbox-item" :class="{'show': index === lb2, 'hide': index != lb2}" v-for="(image, index) in images" v-bind:key="index">
                <transition appear name="fade">
                <img :src="image.url" :class="index">
                </transition>
            </div> -->
        <!-- </transition-group> -->

    </div>
</template>

<script>
export default{
  name: 'LightBox',
  data () {
    return {
      lb2: this.lb
    }
  },
  props: {
    images: Array,
    lb: Number
  },
  watch: {
    lb: function (newVal, oldVal) {
      console.log('new: ', newVal, 'old: ', oldVal)
      this.lb2 = newVal
    }
  },
  methods: {
    close: function () {
      console.log('CLOSE CALLED')
      // var elements = document.getElementsByClassName('show');

      // for (var i = 0; i < elements.length; i++) {
      //     elements[i].classList.remove('show');
      //     elements[i].classList.add('hide');
      // }
      this.$emit('hide', false)
    },
    next: function () {
      console.log('next')
      console.log(this.lb2)
      console.log(this.images.length)

      if (this.lb2 < (this.images.length - 1)) {
        this.lb2 = this.lb2 + 1
      } else {
        this.lb2 = 0
      }
    },
    prev: function () {
      console.log('next')
      console.log(this.lb2)
      console.log(this.images.length)

      if (this.lb2 > 0) {
        console.log('IF')
        this.lb2 = this.lb2 - 1
      } else {
        console.log('ELSE')
        this.lb2 = (this.images.length - 1)
      }
    }
  },
  computed: {
    // next: {
    //     get(){
    //         console.log('next');
    //         console.log(this.lb2);
    //         console.log(this.images.length);

    //         if (this.lb2 < (this.images.length - 1)){
    //             this.lb2 = this.lb2 +1;
    //         }else{
    //             this.lb2 = 0;
    //         }
    //     }

    // }
  }
}
</script>

<style scoped>

.lightbox{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left: 0;
    background: #000;
    z-index: 10;
    padding: 8rem 8rem;
}

.lightbox-close{
    color: #fff;
    position: absolute;
    top: .75rem;
    font-size: 3rem;
    right: 8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: color .25s ease-in-out;
}

.lightbox-close i{
    font-size: 4rem;
}

.lightbox-close h3{
    margin: 0 .5rem 0 0;
}

.light-nav{
    color: #fff;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    font-size: 8rem;
    transition: color .25s ease-in-out;
}

.light-nav:hover, .lightbox-close:hover{
    color: #c33333;
}

.lightbox-item{
    position: relative;
    height: 100%;
    width: 100%;
}

.lightbox-item img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.next{
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
}

.prev{
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
}

.hide{
    display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* below version 2.1.8 */{
  opacity: 0;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-enter-active {
  transition: all .3s ease;
}
.slide-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-enter, .slide-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
