   <template>
   <div class="nav-wrapper">

        <!-- <transition appear name="fade" mode="out-in">
          <span class="icon-jtp-logo-home transition-slow" v-bind:style="{color: logo_color}"></span>
        </transition>
        -->
        <nav :style="logoStyle">
          <div class="nav-wrap">
            <div class="nav-back-left">
              <div class="inner">
                <div class="angle" v-bind:style="{background: 'linear-gradient(to top right, '+navbar_color+' 50%, transparent 50%)'}"></div>
                <div class="not-angle" v-bind:style="{background: navbar_color}"></div>
              </div>
            </div>
            <div class="nav-back-right">
              <div class="inner">
                <div class="angle" v-bind:style="{background: 'linear-gradient(to top right, transparent 50%, '+navbar_color+' 50%)'}"></div>
                <div class="not-angle" v-bind:style="{background: navbar_color}"></div>
              </div>
            </div>
            <transition appear name="slide-fade" mode="out-in">
           <router-link to="/">
          <span class="icon-logo_ink_inline">
         <span class="path1"></span>
          </span>
          <!-- <img src="/static/logo_ink.svg" class="icon-jtp-logo"> -->
           </router-link>
        </transition>
          <transition-group class="top-menu" appear tag="ul" name="staggered-fade" v-bind:css="false" v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave">
            <li v-for="(item, index) in menu" v-bind:key="item.id" v-bind:data-index="index" v-show="show">
            <!-- <li v-for="(item, index) in menu" v-bind:key="item.id" v-bind:data-index="index"> -->
                <router-link class="navbar-item" v-if="item.path!='#'" v-bind:data-index="index" :to="item.path">
                    {{ item.name }}
                </router-link>
                <!-- {{ item.path }} -->
                <span class="navbar-item" @click="showContact = !showContact" v-if="item.path=='#'">{{ item.name }}</span>
            </li>

        </transition-group>
          <div class="hamburger transition-medium" v-bind:class="{show: show_menu}" v-on:click='show_menu = !show_menu'>
            <!-- <h4>Menu</h4> -->
            <div class="line one"></div>
            <div class="line two"></div>
            <div class="line three"></div>
          </div>
          </div>

          <div class="mobile-nav" v-bind:class="{show: show_menu}">
            <ul>
              <li v-for="(item, index) in menu" v-bind:key="item.id+1" v-bind:data-index="index" v-show="show">
            <!-- <li v-for="(item, index) in menu" v-bind:key="item.id" v-bind:data-index="index"> -->
                <router-link class="navbar-item" v-if="item.path!='#'" v-bind:data-index="index" :to="item.path">
                    {{ item.name }}
                </router-link>
                <!-- {{ item.path }} -->
                <span class="navbar-item" @click="showContact = !showContact" v-if="item.path=='#'">{{ item.name }}</span>
             </li>
            </ul>
          </div>

        </nav>
        <!-- <div class="header-spacer"></div> -->
        <!-- <transition class="slide-fade"> -->
          <contact :show=showContact @close="showContact = false"></contact>
        <!-- </transition> -->

        <!-- <transition-group class="menu" tag="ul" appear name="staggered-fade"  v-on:before-enter="beforeEnter" v-on:enter="enter" @leave="leave">
            <li v-for="(item) in menu" v-bind:key="item.id" v-bind:data-index="item.id" v-show="show_home">
                <router-link class="navbar-item" v-bind:data-index="item.id" :to="item.path" :style="styleObject">
                    {{ item.name }}
                </router-link>
            </li>
        </transition-group> -->

       </div>
    <!-- <nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="row row-center justify-center">
            <div class="navbar-brand column column-25">
                 <router-link to="/" class="navbar-item">
                    <img src="static/logo2.png">
                     <span class="icon-jtp-logo transition-medium"></span>
                 </router-link>
            </div>

            <div id="navbar" class="navbar-menu column">
                <router-link to="/" class="navbar-item">
                    <span class="block-me">Home</span>
                </router-link>

                 <router-link to="/portfolio" class="navbar-item has-dropdown has-dropdown-up is-hoverable">
                    <a class="navbar-link" href="#">
                        <span class="block-me">Portfolio</span>
                    </a>

                    <div class="submenu">
                    <a class="navbar-item" href="#">
                        Weddings
                    </a>
                    <a class="navbar-item" href="#">
                        Engagements
                    </a>
                    <a class="navbar-item" href="#">
                        Remodels
                    </a>
                    </div>
                 </router-link>
                <a class="navbar-item" href="#">
                    <span class="block-me">Connect</span>
                </a>

                <router-link to="/about" class="navbar-item">
                    <span class="block-me">My Story</span>
                </router-link>
                <a class="navbar-item" href="#">
                    <span class="block-me">Contact</span>
                </a>
                </div>
          </div>
        </div>
</nav> -->
</template>

<script>
import contact from '@/components/contact.vue'
export default {
  name: 'navigation',
  components: {
    contact: contact
  },
  props: {
    //   'logo_color',
    navbar_color: String,
    logo_color: String,
    logo_hover: String
  },
  data () {
    return {
      show: true,
      show_menu: false,
      show_home: false,
      showContact: false,
      menu: [
        { id: 0, name: 'Home', path: '/' },
        { id: 1, name: 'Portfolio', path: '/portfolio' },
        // { id: 2, name: 'Portfolio2', path: '/portfolio2' },
        { id: 3, name: 'Featured', path: '/featured' },
        { id: 4, name: 'My Story', path: '/about' },
        { id: 5, name: 'Contact', path: '#' }
        // { id: 5, name: 'Contact', path: '/contact' }
      ]
    }
  },

  watch: {
    '$route' (to, from, next) {
      this.scrollClass()
      console.log('route change')
      this.show_menu = false
      // console.log(to);
      if (to.name == 'home') {
      //  this.show_home = true;
      //  this.show = false;

      } else {

      //  this.show_home = false;
      //  this.show = true;
      }
      // react to route changes...
    }
  },
  mounted () {
    window.addEventListener('scroll', this.onScroll)

    //  console.log(this.$route.name);
    if (this.$route.name == 'home') {
      //  this.show_home = true;
      //  this.show = false;
    } else {
      //  this.show_home = false;
      //  this.show = true;
    }
    // this.$on('logo', this.fckIt());
    //   this.$root.$on('logoColor', () => {
    //       console.log('Daffy Duck');
    //   })
    //   this.$on('logoColor', () => this.fckIt())
  },
  methods: {
    removeElement: function (index) {
      console.log(index)
      this.menu.splice(index, 1)
    },
    onScroll (e) {
      this.scrollClass()
    },
    scrollClass: function () {
      if (window.top.scrollY > 0) {
        document.body.classList.add('scrolling')
        // this.show = false;
      } else {
        document.body.classList.remove('scrolling')
        // this.show = true;
      }
    },
    slide_up: function (el, done) {
      console.log(el)
      console.log('SLIDE UP')
      var delay = el.dataset.index * 150
      setTimeout(function () {
        Velocity(el, 'slideUp',
          { duration: 'fast', complete: done }
        )
      }, delay)
    },
    // delayedBy: function(el) {
    //   if (this.adding)
    //     return 0
    //   return 100
    // },
    // beforeEnter: function(el) {
    //   console.log("beforeEnter");
    //   el.style.opacity = 0;
    // },
    // enter: function(el, done) {
    //   console.log("enter");
    //   let delay = el.dataset.index * this.delayedBy();
    //   setTimeout(function() {
    //     $(el).animate({ opacity: 1 }, 250, done);
    //   }, delay);
    // },
    // leave: function(el, done) {
    //   console.log("leave");
    //   let delay = el.dataset.index * this.delayedBy();
    //   setTimeout(function() {
    //     $(el).animate({ opacity: 0 }, 250, done);
    //   }, delay);
    // },
    beforeEnter: function (el) {
      el.style.opacity = 0
      // el.style.transform = "translateX(-125%)";
      // el.style.transform = "rotate(25deg)";
      // el.style.height = 0
    },
    enter: function (el, done) {
      var delay = el.dataset.index * 175
      setTimeout(function () {
        // console.log('FADE IN');
        // console.log(el);
        // el.style.transform = 'translate-x(200%)';
        Velocity(
          el,
          { opacity: 1, translateX: '+=20px' },
          // { opacity: 1},
          { complete: done }
        )
      }, delay)
    },
    beforeLeave: function (el, done) {
      this.show_menu = false
      // console.log('Before Leave')
      // console.log(this.menu)
      // console.log(this.menu.slice().reverse());
      // this.menu = this.menu.slice().reverse();
      // console.log(this.menu)
    },
    leave: function (el, done) {
      var delay = el.dataset.index * 200

      // console.log(this.menu.length)
      setTimeout(function () {
        // console.log('LEAVE');
        // el.style.opacity = '0.5';
        // console.log(el);
        // Velocity(
        //   el,
        //   { opacity: 0},
        //   { complete: done }
        // )
        Velocity(el, 'reverse', {
          duration: '250',
          complete: done
        })
      }, delay)
    }

  },
  created () {
    if (this.$route.name == 'home') {
      //  this.show_home = true;
      //  this.show = false;
    } else {
      //  this.show_home = false;
      //  this.show = true;
    }
    // console.log('CREATE ME');
  },
  computed: {
    styleObject: function () {
      // console.log(this.logo_color);
      return {
        // '--color': '#000',
        '--color-hover': this.logo_color,
        '--color-active': this.logo_color
      }
    },
    logoStyle: function () {
      return {
        '--color': this.logo_color,
        '--color-scrolling': this.logo_hover
      }
    }
  }
}
</script>

<style scoped>
/* .list-item {
  display: inline-block;
  margin-right: 10px;
} */
.header-spacer{
  /* height: 6rem; */
}

.list-enter-active, .list-leave-active {
  transition: all 5s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

/* .scrolling .hamburger{ */
  /* transform: translate(0, -50%); */
    /* opacity: 1; */
  /* transition-delay: .25s; */
  /* left: 4rem; */
/* } */

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .75s;
  transition-delay: .25s;
}

.home .icon-jtp-logo{
  opacity: 0;
  /* transform: translateX(-100%); */
}

.icon-jtp-logo, .icon-logo_ink_inline{
    color: var(--color);
    position: absolute;
    left: 2rem;
    width: 20rem;
    z-index: 1;
    top: .2rem;
    font-size: 5.5rem;
    transition: color 1.25s ease-in-out;

}

.scrolling .icon-logo_ink_inline{
  /* color: var(--color-scrolling); */
}

.not-home .icon-jtp-logo-home{
  font-size: 25rem;
    position: absolute;
    /* left: 4rem; */
    /* right: 0; */
    left: calc(100% - 38rem);
    transform: translate(300%, -50%);
    z-index: 1;
    top: 50%;
}

.nav-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

ul.menu {
    list-style-type: none;
    text-align: left;
    padding: 0;
    /* height: 330px; */
    position: fixed;
    left: 4rem;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1;
    z-index: 4;
    /* -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; */
}

nav{
    z-index: 2;
    /* position: fixed; */
    position: absolute;
    width: 100%;
    height: 6rem;
}

.scrolling nav{
  /* background: #fff; */
}

.nav-back-left, .nav-back-right{
  position: absolute;
  top:0;
  bottom:0;
  /* background: rgb(221, 218, 218); */
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  /* border-bottom: 1px solid #ccc; */
}

.nav-back-left{
  left:0;
  right: 50%;
  transform: translateX(-120%);
}

.nav-back-right{
  right:0;
  left: 50%;
  transform: translateX(220%);
}

.nav-back-left .inner, .nav-back-right .inner{
  position: relative;
  height: 100%;
  width: 100%;
}

.nav-back-left .angle{
    position: absolute;
    height: 100%;
    width: 15%;
    right: -7.5%;
    background: linear-gradient(to top right, #fff 50%, transparent 50%);
    background: linear-gradient(to top right, #232323 50%, transparent 50%);
}

.nav-back-left .not-angle{
    position: absolute;
    height: 100%;
    width: 93%;
    left: 0;
    background: #fff;
    background: #232323;
}

.nav-back-right .angle{
    position: absolute;
    height: 100%;
    width: 15%;
    left: -7.5%;
    background: linear-gradient(to top right, transparent 50%, #fff 50%);
    background: linear-gradient(to top right, transparent 50%, #232323 50%);
}

.nav-back-right .not-angle{
    position: absolute;
    height: 100%;
    width: 93%;
    right: 0;
    background: #fff;
    background: #232323;
}

.scrolling .nav-back-left, .scrolling .nav-back-right{
  /* transform: translateX(0); */
}

.scrolling .top-menu li a, .scrolling .top-menu span{
  /* color: var(--color-scrolling); */
}

ul.top-menu{
    list-style-type: none;
    /* text-align: left; */
    /* padding: 0; */
    /* height: 330px; */
    right: 8rem;
    position: absolute;
    /* width: 100%; */
    top: 1.25rem;
    /* transform: translate(-50%, 0);    */
}

.top-menu li{
  display: inline-block;

}

.top-menu li a, .top-menu span{
    font-size: 1.75rem;
    margin-right: 2rem;
    color: var(--color);
    /* color: #ffffff; */
    display: inline-block;
    font-family: viga;
    font-family: 'Raleway', sans-serif;
    font-family: 'Poppins';
    cursor: pointer;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 400;
    position: relative;
}

/* .home .top-menu li a, .home .top-menu span{
  color: #ffffff;
} */
.router-link-exact-active{
  /* text-decoration: underline; */
}

.navbar-item{
    /* -moz-transition: color .35s ease-out;
    -o-transition: color .35s ease-in-out;
    transition: color .35s ease-in-out; */
    /* transition-delay: .15s; */
    cursor: pointer;
    -moz-transition: all .35s ease-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}

.navbar-item::before{
    height: 2px;
    background: #fff;
    background: var(--color);
    position: absolute;
    content: "";
    width: 0;
    z-index: 200;
    bottom: 0;
    -moz-transition: all .30s ease-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
}

.home .navbar-item::before{
  /* background: var(--color); */
  background: #ffffff !important;
  /* background: #232323; */
}

.scrolling .navbar-item::before{
   /* background: rgba(195, 51, 51, 1);
   background: var(--color-scrolling);
   background: #ffffff; */
}

.navbar-item:hover:before {
    width: 100%;
}

.menu li{
  /* color:#fff; */
    /* -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; */
   display  : block;
   /* height: 1.6em; */
}

.menu li a{
    color: #fff;
    display: inline-block;
    font-size: 6rem;
    position: relative;
    font-family: viga;
    line-height: 1;
    margin-bottom: 2rem;
    text-align: left;
    -moz-transition: color .25s ease-out, transform .75s ease-in-out;
    -o-transition: color .25s ease-in-out,transform .75s ease-in-out;
    transition: color .25s ease-in-out, transform .75s ease-in-out;
}

.menu li:last-child a{
    margin-bottom:0;
}

/* .menu a:before {
    height: 4px;
    position: absolute;
    content: "";
    width: 0;
    z-index: 200;
    bottom: 4px;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.menu a:hover:before {
    background: var(--color-hover);
    width: 100%;
} */

.menu a:hover{
    color: #ccc;
}

.home .menu a:hover{
    color: var(--color-hover);
}

.home .menu a.router-link-exact-active{
    color: var(--color-active);
}

.menu a.router-link-exact-active{
    color: #ccc;
}

/* .not-home .menu li a{ */
    /* font-size: 6rem; */
    /* line-height: 6rem; */
    /* margin-bottom: 2rem; */
/* } */

</style>

<style scoped>

  /* .fade-enter-active{
    transform: translateX(-100%);
  } */
/* .navbar-brand{
  margin-top: 2.5rem;
}
    .submenu{
        display: none;
    }

    .justify-center{
        justify-content: center;
    }

    .navbar-item img{

    }

    .navbar-item, .navbar-link{
        font-family: 'Viga', sans-serif;
        color: #fff;
        font-size: 1.75 rem;
        display: inline-block;
    } */
</style>
