<template>
        <div class="inner-wrap portfolio-wrap">
          <div class="container full-width">
              <div class="row">
              <div class="column column-100">
                <transition appear name="fade">
                  <h1 class="has-color-white">Portfolio</h1>
                </transition>
                <div class="row portfolio-filters">
                    <transition appear name="fade" v-if="show">
                  <div class="column column-20">
                    <h4 class="filter selected" v-on:click="tag = ''; selected($event)">All</h4>
                  </div>
                    </transition>
                    <transition appear name="fade" v-if="show">
                  <div class="column column-20">
                    <h4 class="filter" v-on:click="tag = 'wedding'; selected($event)">Weddings</h4>
                  </div>
                  </transition>
                  <transition appear name="fade" v-if="show">
                  <div class="column column-20">
                    <h4 class="filter" v-on:click="tag = 'engagement'; selected($event)">Engagements</h4>
                  </div>
                  </transition>
                  <transition appear name="fade" v-if="show">
                  <div class="column column-20">
                    <h4 class="filter" v-on:click="tag = 'portrait'; selected($event)">Portraits</h4>
                  </div>
                  </transition>
                </div>
              </div>
          </div>
          </div>

          <div class="container padding-top-2">
            <transition appear name="fade" v-if="show">
              <lightbox v-bind:images="filteredItems" v-bind:lb="lightbox_index" v-show="lightbox" @hide="showLightbox"></lightbox>
            </transition>

            <transition-group
              name="list-complete"
              tag="div"
              class="grid"
            >
              <imageitem class="grid-item" ref="imageitem" v-for="(image, index) in filteredItems" @click.native="popoverFunction($event, index)"
                  v-bind:source="image.url" v-bind:height="image.height" v-bind:width="image.width"
                  v-bind:color="image.color" v-bind:key="image.id" :class="{'left': index % 2 === 1 ,'right': index % 2 === 0}"
                  >
                   <!-- {{ index }} -->
              </imageitem>
            </transition-group>
          </div>
        </div>
</template>

<script>

import ImageItem from '@/components/ImageItem.vue'
import HeroImage from '@/components/HeroImage.vue'
import LightBox from '@/components/LightBox.vue'
export default {
  name: 'Portfolio',
  data () {
    return {
      show: true,
      lightbox: false,
      lightbox_index: 0,
      tag: '',
      page_name: 'portfolio',
      isActive: false,
      images: [
        { id: 0, url: '/static/indian_wedding.jpg', color: '#740092', width: '1372', height: '734', tag: 'wedding' },
        { id: 1, url: '/static/grass.jpg', color: '#f2b312', width: '1372', height: '734', tag: 'wedding' },
        { id: 2, url: '/static/rooftop.jpg', color: '#c61724', width: '1372', height: '734', tag: 'engagement' },
        { id: 3, url: '/static/seattle.jpg', color: '#c61724', width: '1372', height: '734', tag: 'portrait' },
        { id: 4, url: '/static/beach.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding' },
        { id: 5, url: '/static/winery.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding' },
        { id: 6, url: '/static/sanfran.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding' }
      ]
    }
  },
  computed: {
    filteredItems: function () {
      return this.images.filter(image => {
        return image.tag.toLowerCase().indexOf(this.tag.toLowerCase()) > -1
      })
    }
  },
  components: {
    imageitem: ImageItem,
    heroimage: HeroImage,
    lightbox: LightBox
  },
  methods: {
    shuffle: function () {
    	this.images = _.shuffle(this.images)
    },
    selected: function (event) {
      var elements = [].slice.call(document.getElementsByClassName('filter'));
      [].forEach.call(document.querySelectorAll('.filter'), function (el) {
        el.classList.remove('selected')
      })
      // console.log(event.target);

      event.target.classList.toggle('selected')
      // while (elements.length) elements[0].classList.remove('selected');
    },
    popoverFunction: function (ev, i) {
      console.log(ev)
      console.log('image number: ' + i)
      // console.log(this.filteredItems);
      console.log('pop over')
      this.lightbox_index = i
      console.log('Lightbox index ish:' + this.lightbox_index)
      this.lightbox = true
      // this.createElement;
    },
    showLightbox: function (lb) {
      console.log('showLightbox')
      this.lightbox = false
    }
    // render: function (createElement) {
    //   return createElement('h1', this.page_name)
    // }
    //  beforeEnter: function (el) {
    //   el.style.opacity = 0
    //   el.style.height = 0
    // },
    // enter: function (el, done) {
    //   var delay = el.dataset.index * 150
    //   setTimeout(function () {
    //     Velocity(
    //       el,
    //       { opacity: 1, height: '100%' },
    //       { complete: done }
    //     )
    //   }, delay)
    // },
    // leave: function (el, done) {
    //   var delay = el.dataset.index * 150
    //   setTimeout(function () {
    //     Velocity(
    //       el,
    //       { opacity: 0, height: 0 },
    //       { complete: done }
    //     )
    //   }, delay)
    // }
    // filteredItems: function(tag) {
    //   console.log('CLick');
    //   console.log(tag);
    //   return this.images.filter(image => {

    //      return image.tag.toLowerCase().indexOf(this.tag.toLowerCase()) > -1
    //   })
    // },
    // enter: function (el, done) {
    //   console.log('enter ' + this.$options.name);
    //   return{
    //     show: true
    //   }
    //   done();
    // },
    // leave: function (el, done){
    //   console.log('Leave');
    //   return{
    //     show: false
    //   }
    //   done();
    // }
  },
  created: function () {
    this.$emit('navbarColor', '#ffffff')
    this.$emit('logoColor', '#ffffff')
    this.$emit('logoHover', '#c33333')
    // console.log('emit logo color');
  },
  beforeRouteLeave (to, from, next) {
    // console.log('B4 route leave about')
    this.isActive = false
    // console.log(this.$refs.imageitem);

    var ports = document.getElementsByClassName('loaded')
    console.log(ports)

    // while (ports.length) ports[0].classList.remove('loaded');
    // while (ports.length) ports[0].classList.remove('loaded');
    // ports[0].classList.remove('loaded')

    // console.log(ports);
    if (this.show) {
      console.log('if')
      this.show = false
      while (ports.length > 0) {
        ports[0].classList.remove('loaded')
      }
      // ports.forEach.call(ports, function(el){
      //   el.classList.remove('loaded')
      // })
      // while (ports.length) ports[0].classList.remove('loaded');
      // ports.forEach(function(element){
      //   element.classList.remove('loaded');
      // });
      setTimeout(function () {
        next()
      }, 0)
    } else {
      next()
    }
  }
}

</script>

<style>
a{
  color: #fff;
}
</style>

<style scoped>

.grid {
    display: grid;
    grid-row-gap: 0px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(
        auto-fit,
        minmax(300px, var(--template-columns, 1fr))
    );
    grid-auto-rows: 5px;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.grid img{
  width: 100px;
}

.grid-item {
    grid-row-end: var(--row-span, span 40);
    padding-bottom: 40px;
}

.portfolio-filters{
    padding: 2.5rem 0 .5rem 0;
    /* position: absolute; */
    justify-content: center;
    bottom: 0;
}

 .slide-fade-leave-to{
  /* transform: translateX(100%); */
}

.filter{
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  padding: .25rem 1rem;
  border-radius: .75rem;
  color: #fff;
}

.filter.selected{
  border-color: inherit;
  /* padding: .25rem 1rem; */

}

.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(300%);
}
.list-complete-leave-active {
  position: absolute;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
  margin-right: 4rem;
}

.portfolio .navbar-item{
  color: #fff;
}

.portfolio-heading{
  margin-top: 6rem;
}

.portfolio-wrap{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: rgba(195, 51, 51,  1);
    background-image: url('/static/fan-pattern.png');
    overflow-x: hidden;
}
.port-stuff{
      height: 35vh;

}

.port-stuff .row{
/* align-items: flex-end; */
height: 100%;
}

.slide-fade-left-enter-active {
  transition: all .5s ease;
}
.slide-fade-left-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-left-enter, .slide-fade-left-leave-to{
  transform: translateX(-100%);
  opacity: 0;
  }

.portfolio{
  background: #fff !important;
}

.hero-image{
  height: 65vh !important;
  position: absolute;
    bottom: 10%;
    width: 75%;
}

.from-bottom{
   position: absolute;
    /* bottom: 0; */
    top: 0;
    width: 100%;
    /* background: rgb(202, 92, 33, .85) !important; */
    padding: 2rem;
    height: 100vh;
}

 /* .slide-left-leave-active{
    transform: translate(-100%, 0);
     transition: all 5s ease;
  }

  .slide-left-enter-active{
    transform: translate(0 , 0);
    transition: all 5s ease;
  } */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-bottom-enter-active {
  transition: all .5s ease;
}
.slide-fade-bottom-leave-active {
  /* transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
  /* transform: translateX(-5000px); */
}
.slide-fade-bottom-enter, .slide-fade-bottom-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateY(100%);
  opacity: 0;
  transition: all .5s ease;
}

.slide-fade-right-leave{
  transform: translateY(-100%);
}

  /* .fade-enter-active, .fade-leave-active {
    transition: all 1s;
  }
  .fade-enter, .fade-leave-to{
    opacity: 0;
  } */

.angle-right{
   transition: all .3s ease;
}

button{
    position: relative;
    z-index: 1;
}

.portfolio .circle{
  margin-top: 10rem;
}

/* moving */
.company-move {
  transition: all 600ms ease-in-out 50ms;
}

/* appearing */
.company-enter-active {
  transition: all 300ms ease-out;
  /* transform: translateX(100%); */
  opacity: 1;
}

/* disappearing */
.company-leave-active {
  transition: all 200ms ease-in;
  opacity: 1;
  /* position: absolute; */
  /* z-index: 0; */
  /* transform: translateX(-100%); */
}

/* appear at / disappear to */
.company-enter,
.company-leave-to {
  opacity: 0;
}
</style>
