<template>
        <div class="inner-wrap portfolio-wrap" v-bind:class="{z: lightbox}">
           <transition appear name="fade" v-if="show">
              <lightbox v-bind:images="filteredItems" v-bind:lb="lightbox_index" v-show="lightbox" @hide="showLightbox"></lightbox>
            </transition>
          <div class="container full-width">
              <div class="row">
              <div class="column column-100">
                <transition appear name="fade">
                  <h1 class="has-color-white">Portfolio</h1>
                </transition>
                <div class="row portfolio-filters">
                    <transition appear name="fade" v-if="show">
                  <div class="column column-20">
                    <h4 class="filter selected" v-on:click="tag = ''; selected($event)">All</h4>
                  </div>
                    </transition>
                    <transition appear name="fade" v-if="show">
                  <div class="column column-20">
                    <h4 class="filter" v-on:click="tag = 'wedding'; selected($event)">Weddings</h4>
                  </div>
                  </transition>
                  <transition appear name="fade" v-if="show">
                  <div class="column column-20">
                    <h4 class="filter" v-on:click="tag = 'engagement'; selected($event)">Engagements</h4>
                  </div>
                  </transition>
                  <transition appear name="fade" v-if="show">
                  <div class="column column-20">
                    <h4 class="filter" v-on:click="tag = 'portrait'; selected($event)">Portraits</h4>
                  </div>
                  </transition>
                </div>
              </div>
          </div>
          </div>

          <div class="container padding-top-2">
              <transition-group
              name="list" class="column-wrap" tag="div"
              >

              <!-- <div class="masonry-grid grid"> -->
              <!-- <transition-group name="fade" class="masonry-grid grid" v-if="show" tag="div"> -->
                 <!-- <div class="masonry-grid-sizer grid-sizer" v-bind:key="123"></div> -->
                <imageitem ref="imageitem" class="col-grid" v-for="(image, index) in filteredItems" @click.native="popoverFunction($event, index)"
                    v-bind:source="image.url" v-bind:height="image.height" v-bind:width="image.width"
                    v-bind:color="image.color" v-bind:key="image.id">
                </imageitem>
              <!-- </div> -->

            </transition-group>

          </div>
        </div>
</template>

<script>

import ImageItem from '@/components/ImageItem.vue'
import HeroImage from '@/components/HeroImage.vue'
import LightBox from '@/components/LightBox.vue'
// import Masonry from 'masonry-layout'
// import imagesLoaded from 'imagesloaded'

export default {
  name: 'Portfolio',
  data () {
    return {
      show: true,
      lightbox: false,
      lightbox_index: 0,
      // msnry: null,
      tag: '',
      page_name: 'portfolio',
      isActive: false,
      images: [
        { id: 0, url: '/static/indian_wedding.jpg', color: '#740092', width: '1372', height: '734', tag: 'wedding' },
        { id: 1, url: '/static/grass.jpg', color: '#f2b312', width: '1372', height: '734', tag: 'wedding' },
        { id: 2, url: '/static/rooftop.jpg', color: '#c61724', width: '1372', height: '734', tag: 'engagement' },
        { id: 3, url: '/static/seattle.jpg', color: '#c61724', width: '1372', height: '734', tag: 'portrait' },
        { id: 4, url: '/static/beach.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding' },
        { id: 5, url: '/static/winery.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding' },
        { id: 6, url: '/static/sanfran.jpg', color: '#c61724', width: '1372', height: '734', tag: 'wedding' }
      ]
    }
  },
  watch: {
    // whenever question changes, this function will run
    filteredItems: function () {
      // var that = this
      // console.log('FILTER CHANGE: ', this.msnry)
      // var that = this
      // that.$nextTick(function () {
      //   this.updateColade()
      // })
      // this.updateColade()
      // updateMason()
      // this.createColade()
    }
  },
  computed: {
    filteredItems: function () {
      return this.images.filter(image => {
        return image.tag.toLowerCase().indexOf(this.tag.toLowerCase()) > -1
      })
    }
  },
  components: {
    imageitem: ImageItem,
    heroimage: HeroImage,
    lightbox: LightBox
  },
  methods: {
    shuffle: function () {
    	this.images = _.shuffle(this.images)
    },
    selected: function (event) {
      var elements = [].slice.call(document.getElementsByClassName('filter'));
      [].forEach.call(document.querySelectorAll('.filter'), function (el) {
        el.classList.remove('selected')
      })
      // console.log(event.target);
      event.target.classList.toggle('selected')
      // var that = this
      this.$nextTick(function () {
        // this.msnry.reloadItems()
        this.createColade()
      })
      // var that = this
      // that.$nextTick(function () {
      //   this.updateColade()
      // })

      // while (elements.length) elements[0].classList.remove('selected');
    },
    popoverFunction: function (ev, i) {
      console.log(ev)
      console.log('image number: ' + i)
      // console.log(this.filteredItems);
      console.log('pop over')
      this.lightbox_index = i
      console.log('Lightbox index ish:' + this.lightbox_index)
      this.lightbox = true
      // this.createElement;
    },
    showLightbox: function (lb) {
      console.log('showLightbox')
      this.lightbox = false
    },
    createColade: function () {
      // Mason()
      var that = this
      console.log('LOADED')
      var test = document.getElementsByClassName('image-wrap')
      for (var i = 0; i < test.length; i++) {
        console.log('Width: ' + test[i].clientWidth)
        test[i].style.width = test[i].clientWidth + 'px'
      }

      console.log(test)
      // imagesLoaded(document.querySelector('.masonry-grid-item'), function (instance) {
      //   console.log('all images are loaded')
      //   var grid = document.querySelector('.masonry-grid')
      //   that.msnry = new Masonry(grid, {
      //     // options...
      //     columnWidth: '.masonry-grid-sizer',
      //     itemSelector: '.masonry-grid-item',
      //     percentPosition: true
      //     // gutter: 10
      //   })
      //   that.msnry.reloadItems()
      // })
    },
    updateColade: function $update (name) {
      var that = this
      // that.$nextTick(function () {
      //   imagesLoaded(document.querySelector('.masonry-grid-item'), function (instance) {
      //     that.msnry.layout()
      //     // that.msnry.reloadItems()
      //   })
      // })
    }

    // render: function (createElement) {
    //   return createElement('h1', this.page_name)
    // }
    //  beforeEnter: function (el) {
    //   el.style.opacity = 0
    //   el.style.height = 0
    // },
    // enter: function (el, done) {
    //   var delay = el.dataset.index * 150
    //   setTimeout(function () {
    //     Velocity(
    //       el,
    //       { opacity: 1, height: '100%' },
    //       { complete: done }
    //     )
    //   }, delay)
    // },
    // leave: function (el, done) {
    //   var delay = el.dataset.index * 150
    //   setTimeout(function () {
    //     Velocity(
    //       el,
    //       { opacity: 0, height: 0 },
    //       { complete: done }
    //     )
    //   }, delay)
    // }
    // filteredItems: function(tag) {
    //   console.log('CLick');
    //   console.log(tag);
    //   return this.images.filter(image => {

    //      return image.tag.toLowerCase().indexOf(this.tag.toLowerCase()) > -1
    //   })
    // },
    // enter: function (el, done) {
    //   console.log('enter ' + this.$options.name);
    //   return{
    //     show: true
    //   }
    //   done();
    // },
    // leave: function (el, done){
    //   console.log('Leave');
    //   return{
    //     show: false
    //   }
    //   done();
    // }
  },
  created: function () {
    this.$emit('navbarColor', '#ffffff')
    this.$emit('logoColor', '#ffffff')
    this.$emit('logoHover', '#c33333')
    window.addEventListener('resize', this.createColade())
    // console.log('emit logo color');
  },
  mounted: function () {
    this.createColade()
  },
  beforeRouteEnter (to, from, next) {
    // called before the route that renders this component is confirmed.
    // does NOT have access to `this` component instance,
    // because it has not been created yet when this guard is called!
    next(vm => {
    // access to component instance via `vm`
      console.log('VM: ', vm)
    })
  },
  beforeRouteLeave (to, from, next) {
    // console.log('B4 route leave about')
    this.isActive = false
    // console.log(this.$refs.imageitem);

    var ports = document.getElementsByClassName('loaded')
    console.log(ports)

    // while (ports.length) ports[0].classList.remove('loaded');
    // while (ports.length) ports[0].classList.remove('loaded');
    // ports[0].classList.remove('loaded')

    // console.log(ports);
    if (this.show) {
      console.log('if')
      this.show = false
      while (ports.length > 0) {
        ports[0].classList.remove('loaded')
      }
      // ports.forEach.call(ports, function(el){
      //   el.classList.remove('loaded')
      // })
      // while (ports.length) ports[0].classList.remove('loaded');
      // ports.forEach(function(element){
      //   element.classList.remove('loaded');
      // });
      setTimeout(function () {
        next()
      }, 0)
    } else {
      next()
    }
  }
}

</script>

<style>
a{
  color: #fff;
}
</style>

<style scoped>

h1{
  margin-top: 4rem;
  margin-bottom: 0;
}

.column-wrap{
  columns: 2;
  /* display: flex; */
}

.col-grid{
  margin-bottom: 1rem;
}
/* * { box-sizing: border-box; } */

.grid {
  /* border: 1px sol  id; */
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; */
}

.grid-sizer {
  width: 33%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  /* background: #09D; */
  max-width: 33%;
  float: left;
  margin-bottom: 20px;
}

.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 2%;
  /* background: #DDD; */
}

.grid-col--4 { margin-right: 0; }

/* hide two middle */
.grid-col--2, .grid-col--3 { display: none; }

@media ( min-width: 768px ) {
  .grid-col--2 { display: block; } /* show column 2 */
}

@media ( min-width: 1200px ) {
  .grid-col--3 { display: block; } /* show column 3 */
}

.grid-item {
  /* background: #09D; */
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

/* .grid-item--a { height:  80px; }
.grid-item--b { height: 140px; }
.grid-item--c { height: 300px; } */

.portfolio-filters{
    padding: 2.5rem 0 .5rem 0;
    /* position: absolute; */
    justify-content: center;
    bottom: 0;
}

 .slide-fade-leave-to{
  /* transform: translateX(100%); */
}

.filter{
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  padding: .25rem 1rem;
  border-radius: .75rem;
  color: #fff;
}

.filter.selected{
  border-color: inherit;
  /* padding: .25rem 1rem; */

}

.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(300%);
}
.list-complete-leave-active {
  position: absolute;
}

ul{
  list-style-type: none;
}

li{
  display: inline-block;
  margin-right: 4rem;
}

.portfolio .navbar-item{
  color: #fff;
}

.main.z{
  z-index: 2;
}

.portfolio-heading{
  margin-top: 6rem;
}

.portfolio-wrap{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: rgba(195, 51, 51,  1);
    background-image: url('/static/fan-pattern.png');
    overflow-x: hidden;
}
.port-stuff{
      height: 35vh;

}

.port-stuff .row{
/* align-items: flex-end; */
height: 100%;
}

.slide-fade-left-enter-active {
  transition: all .5s ease;
}
.slide-fade-left-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-left-enter, .slide-fade-left-leave-to{
  transform: translateX(-100%);
  opacity: 0;
  }

.portfolio{
  background: #fff !important;
}

.hero-image{
  height: 65vh !important;
  position: absolute;
    bottom: 10%;
    width: 75%;
}

.from-bottom{
   position: absolute;
    /* bottom: 0; */
    top: 0;
    width: 100%;
    /* background: rgb(202, 92, 33, .85) !important; */
    padding: 2rem;
    height: 100vh;
}

 /* .slide-left-leave-active{
    transform: translate(-100%, 0);
     transition: all 5s ease;
  }

  .slide-left-enter-active{
    transform: translate(0 , 0);
    transition: all 5s ease;
  } */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-bottom-enter-active {
  transition: all .5s ease;
}
.slide-fade-bottom-leave-active {
  /* transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
  /* transform: translateX(-5000px); */
}
.slide-fade-bottom-enter, .slide-fade-bottom-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateY(100%);
  opacity: 0;
  transition: all .5s ease;
}

.slide-fade-right-leave{
  transform: translateY(-100%);
}

  /* .fade-enter-active, .fade-leave-active {
    transition: all 1s;
  }
  .fade-enter, .fade-leave-to{
    opacity: 0;
  } */

.angle-right{
   transition: all .3s ease;
}

button{
    position: relative;
    z-index: 1;
}

.portfolio .circle{
  margin-top: 10rem;
}

.list-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}

.list-move{
  transition: all 1s;
}

.list-enter, .list-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(500px);
}
.list-leave-active {
  position: absolute;
  /* z-index: -1; */
}

</style>
