<template>
  <div>
    <VueSlickCarousel :arrows="true" :dots="true" v-bind="settings">
      <div class="slide-content" v-for="image in images" v-bind:style="{'background-image':'url('+ image.url +')'}">
        <!-- <img :src="image.url"> -->
      </div>
    </VueSlickCarousel>
  </div>
</template>

<script>
// require styles from slick-carousel
import 'slick-carousel/slick/slick.css'
import 'slick-carousel/slick/slick-theme.css'

import VueSlickCarousel from 'vue-slick-carousel'

export default {
  name: 'SlideShow',
  components: { VueSlickCarousel },
  data () {
    return {
      settings: {
        dots: true,
        infinite: true,
        speed: 500,
        slidesToShow: 4,
        focusOnSelect: true,
        slidesToScroll: 2
      }
    }
  },
  props: {
    images: Array
  }
}
</script>

<style>
.slide-content{
  background-size: cover;
  height: 50rem;
  background-position: center;
}
.slick-prev{
  left: 25px;
  z-index: 1;
}

.slick-next{
  right: 25px;
  z-index: 1;
}
</style>
