<template>
  <div id="app">
    <!-- <transition name="router-anim" enter-active-class="animated fadeIn" leave-active-class="animated fadeOut"> -->

    <navigation :logo_color='logo_color' :logo_hover='logo_hover' :navbar_color='navbar_color'></navigation>
      <!-- <span class="icon-jtp-logo transition candle"></span> -->
      <!-- <div class="header-spacer"></div> -->
      <!-- <section class="container full-width" :class="page_name" :page_name="page_name"> -->
      <!-- <transition name="fade-slide-up" mode="out-in"> -->
        <transition name="router-anim" enter-active-class="animated fadeIn slow" leave-active-class="animated fadeOut slow">
        <router-view :key="$route.path" @logoColor="logoColor" @navbarColor="navColor" @logoHover="logoHover" ref="routeIt" class="main"></router-view>
     </transition>
    <!-- </section> -->

  </div>
</template>

<script>
import navigation from '@/components/navigation'
import HeroImage from '@/components/HeroImage.vue'
import Lightbox from '@/components/LightBox.vue'
export default {

  name: 'App',
  components: {
    navigation: navigation,
    HeroImage: HeroImage,
    LightBox: Lightbox
  },
  data () {
    return {
      links: 'THis is from parent.',
      show: true,
      postFontSize: 2,
      page_name: this.$route.name,
      logo_color: this.logoColor(),
      navbar_color: this.navColor(),
      logo_hover: this.logoHover(),
      background: [
        { name: 'portfolio', img: '/static/indian_wedding.jpg' },
        { name: 'home', img: '/static/Hero5.jpg' }
      ],
      theHero: { url: 'static/Hero5.jpg' }
    }
  },
  computed: {
    background_url () {
      return 'background: url("/static/Hero5.jpg")'
      // console.log(this.page_name)
      // if (this.page_name == 'home'){
      //   return 'background: url("/static/Hero5.jpg")'
      // }else if(this.page_name == 'portfolio'){
      //   return 'background: url("/static/indian_wedding.jpg")'
      // }else if(this.page_name == 'about'){
      //   return 'background: url("/static/grass.jpg")'
      // }
    }
  },
  watch: {
    '$route' () {
      console.log('ROUTE PATH: ', this.$route.path)
      this.setBodyClass()
    }

  },
  created: function () {
    console.log('CREATED')
  },
  mounted: function () {
    this.setBodyClass()
    console.log('mounted route path: ', this.$route.path)
    // this.$on('logoColor', () => this.logoColor())
    // var test = this.$refs.routeIt.$refs.josh.logoColor();
    // var test = this.$refs.routeIt.$refs.josh;
    // var test = this.$root.$children;
    // console.log('YES!', test);
  },
  // beforeRouteLeave (to, from, next) {
  //   console.log('B4 route leave app')
  //   // console.log(this.show)
  //   if (this.show) {
  //     console.log('if')
  //     this.show = false
  //     setTimeout(function () {
  //       next()
  //     }, 250)
  //   } else {
  //     console.log('ELSE')
  //     next()
  //   }
  // },
  methods: {
    setBodyClass () {
      var body = document.body
      body.classList = ''

      if (this.$route.path == '/portfolio') {
        this.page_name = 'portfolio'
      } else if (this.$route.path == '/') {
        this.page_name = 'home'
      } else if (this.$route.path == '/about') {
        this.page_name = 'about'
      } else if (this.$route.path == '/featured') {
        this.page_name = 'featured'
      }

      if (this.page_name !== 'home') {
        body.classList.add('not-home')
      } else {
        body.classList.remove('not-home')
      }
      console.log('PAGE NAME: ', this.page_name)
      body.classList.add(this.page_name)
    },
    scrollClass () {

    },
    logoColor (value) {
      // console.log('VALUE COLOR: ',value);
      this.logo_color = value
      // console.log('Josh is cool')
    },
    navColor (value) {
      console.log('Value: ', value)
      this.navbar_color = value
    },
    logoHover (value) {
      this.logo_hover = value
    }
  },
  created () {
    // this.$on('logoTest', this.logoColor());
  }
}

</script>
<style lang="scss">
 @import "/main.sass";

// $duration: 0.5s;
// .router-view,
// .router-view-back {
//   &-enter-active,
//   &-leave-active {
//     position: fixed;
//     width: 100%;
//     background: white;
//     min-height: 100vh;
//     top: 0;
//   }
// }
// // router view
// .router-view-enter-active {
//   transition: transform $duration ease-in-out;
//   z-index: 2;
//   transform: translateX(100%);
// }
// .router-view-enter-to {
//   z-index: 2;
//   transform: translateX(0%);
// }
// .router-view-leave-active {
//   z-index: -1;
// }
// .router-view-leave-to {
//   z-index: -1;
// }
// // router view back

// .router-view-back-leave-active {
//   transition: transform $duration ease-in-out;
//   z-index: 2;
//   transform: translateX(0%);
// }
// .router-view-back-leave-to {
//   z-index: 2;
//   transform: translateX(100%);
// }
</style>

<style>
 /* @import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1"; */

@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";

  .fade-in-enter-active, .fade-in-leave-active {
    transition: all 2s;
    transition-delay: .5s;
  }
  .fade-in-enter, .fade-in-leave-to{
    /* opacity: 0; */
    position: absolute;
    transform: translateX(-50%);
    background-position: 25% 50%;
    /* margin-left: -100em; */
  }

  .heading{
    /* background: #c33333; */
    min-height: 50rem;
    background-size: cover;
    background-position: 50%;
    position: relative;
    /* margin-bottom: 3rem; */
  }

.icon-jtp-logo-home{
  /* transform:translateX(-100%); */
}

.animated {
   -webkit-animation-duration: 1s;
   animation-duration: 1;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

.main{
  position: absolute;
  width: 100%;
  /* top: 60px; */
  min-height: 100%;
  min-height: 100vh;
  overflow: hidden;
  left: 0;
  z-index: 0;
  transition: all 500ms linear;
}

/* h1{
  font-size: 4rem;
} */

.large{
  font-size: 6rem;
}

.has-color-white{
  color: #fff;
}

.has-background-white{
  background: #fff;
}

.icon-holder{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.icon-holder .circle{
    display: inline-block;
    position: relative;
}

.circle{
  position: relative;
  /* bottom: 0;
  z-index: 1;
  left: calc(50% - 6rem);
  width: 6rem;
  height: 6rem; */
}

.circle.photo{
  left: calc(50% + 1rem);
}

.home .icon{
  /* font-size: .75rem; */
}

.circle .icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.portfolio .photo{
    bottom: 66%;
    left: 83.5%;
    z-index: 2;
    width: 8rem;
    height: 8rem;
}

.about .book {
    bottom: 70%;
    left: 83.5%;
    z-index: 2;
    width: 8rem;
    height: 8rem;
}

.spacer{
  height: 115px;
}

#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  /* margin-top: 60px; */
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  /* transition-delay: 5s; */
  transition: all .75s ease;
}
.slide-fade-leave-active {
  /* transition: all .75s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
  /* transition-delay: 5s; */
  transition: all .75s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  /* transition-delay: 5s; */
  transform: translateX(100%);
  opacity: 1;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-fast-enter-active {
  transition: all .6s ease;
}
.slide-fade-fast-leave-active {
  /* transition: all .75s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
  transition: all .6s ease;
}
.slide-fade-fast-enter, .slide-fade-fast-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(100%);
  opacity: 1;
}

.slide-down-fast-enter-active {
  transition: all .5s ease;
}
.slide-down-fast-leave-active {
  /* transition: all .75s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
  transition: all .5s ease;
}
.slide-down-fast-enter, .slide-down-fast-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(-100%);
  opacity: 1;
}

.slide-up-fast-enter-active {
  transition: all .5s ease;
}
.slide-up-fast-leave-active {
  /* transition: all .75s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
  transition: all .5s ease;
}
.slide-up-fast-enter, .slide-up-fast-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateY(100%);
  opacity: 1;
}

 .slide-enter-active{
   transition: 1s;
   transform: translateX(-100%);
   z-index: 1;
  }

  .slide-enter-to{
    position: relative;
    transform: translateX(0);
  }

  .slide-leave-active {
    z-index: 1;
    transform: translateX(0);
  }

  .slide-leave-to {
    /* right: -100vw; */
    transform: translateX(0);
  }

 .slide-leave{
    position: absolute;
   }
 .slide-enter {
    transform: translateX(-100%);
    position: absolute;
  }

  .page-enter-active, .page-leave-active {
  transition: opacity 1s, transform 1s;
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateX(-30%);
}

/* .slide-left-enter,
.slide-right-leave-active {
  opacity: 1;
  transform: translateY(0);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 1;
  transform: translateY(-100%);
} */

.slide-left-enter,
.slide-right-leave-active {
  opacity: 1;
  -webkit-transform: translateX(100%);
  transform: translate(100%);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 1;
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
}

.slide-left-enter,
.slide-right-leave-active,
.slide-me-enter {
  opacity: 1;
  -webkit-transform: translateX(100%);
  transform: translate(100%);
}

.slide-left-leave-active,
.slide-right-enter
.slide-me-leave-active{
  opacity: 1;
  -webkit-transform: translate(-100%);
  transform: translate(-100%);
}

/* .slide-left-leave-active,
.slide-left-enter-active {
  transition: 1s;

}

.slide-left-enter-active{
 z-index: 100;
}

.slide-left-enter {
  transform: translate(100%, 0);

}
.slide-left-leave-to {
  transform: translate(100%, 0);
} */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s ease;
  /* transform: translate(100%); */
}

.fade-leave {}

.fade-leave-active {
  transition: opacity 2s ease;
  /* transform: translate(-100%); */
  opacity: 0;
}

.fade-slide-up-enter-active {
  transition: all 0.25s ease;
}
.fade-slide-up-leave-active {
  transition: all 0.25s ease;
}
.fade-slide-up-enter, .fade-slide-up-leave-to {
  /* transform: translateY(40px); */
  opacity: 0;
}

</style>
