@import milligram/milligram.sass

.field
    margin-bottom: 1rem
    // display: flex

fieldset
    border: none

.field label
    display: block
    font-weight: bold
    margin-right: 2rem
    width: 7.5rem
    text-align: left
    color: #fff

section
    position: relative

.round-box
    background: #404040
    padding: 4rem 2rem
    border-radius: 0 2.5rem 0 0
    -webkit-box-shadow: 5px 5px 0px #565454
    box-shadow: 5px 5px 0px #565454
    margin-top: -6rem
    margin-left: -4.5rem

.box
    padding: 8rem 4rem;
    display: flex;
    height: 100%;
    align-content: center

.box.reverse
    flex-direction: column

.box.round
    border-radius: 1rem

.box.shadow
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

.box-inner
    align-self: center;

.box i
    font-size: 10rem
    margin-bottom: 2rem
    // color: #000000

.shadow
    box-shadow: 1.5rem 1.5rem #8e8e8e;

// TRANSITIONS
.fade
    opacity: 0
    transform: translateY(50px)
    transition: all 1s ease-in-out

.fade.show
    opacity: 1
    // transform: translateX(0);
    transform: translateY(0)

//Menu

.hamburger
    position: absolute
    height: 5.5rem
    width: 6rem
    right: 2rem
    top: 2rem
    /* left: 6rem; */
    z-index: 6
    display: none
    /* top: 50%; */
    /* opacity: 0; */
    /* transform: translate(0, -50%); */
    cursor: pointer

    &.show

        .line.one
            transform: rotate(45deg) translate(11px, 11px)

        .line.two
            opacity: 0

        .line.three
            transform: rotate(-45deg) translate(0px, 0px)

    .line
        background: #fff
        height: 3px
        width: 4rem
        margin: 0 auto
        margin-bottom: 5px
        transition: transform .5s ease-in-out, opacity .5s ease-in-out 

.featured
    .line
        background: #333333

    // .reverse-1
    //     display: flex
    //     flex-direction: column-reverse

        // .vert-center
        //     top: auto 
        //     left: auto
        //     transform: none




.hamburger h4
  margin-bottom: 0
  color: #fff


.mobile-nav
    position: fixed
    padding: 8rem 2rem 0 2rem
    top: 0
    bottom: 0
    right: 0
    background: #000
    z-index: 5
    width: 80%;
    font-size: 3rem
    transition: transform .5s ease-in-out
    transform: translateX(100%)
    // transform: translateX(0)

    &.show
        transform: translateX(0)

    ul
        list-style-type: none

        li 
            margin-bottom: 4rem

        .navbar-item
            color: #ffffff

            &:before
                display: none

// Homepage

// .home .hero
//     height: 100vh
//     min-height: 600px

.title
  font-size: 4.5rem
//   width: 52rem

.vert-right
    position: absolute
    z-index: 1
    top: 0
    display: flex
    flex-direction: column
    justify-content: center
    bottom: 0
    width: 38rem
    height: 100%
    right: 6rem

    .inner-wrap
        // position: relative
        // height: 100%
        // width: 100%

.icon-jtp
    font-size: 12rem

.arrow-wrap
    position: absolute;
    top: -22rem;
    right: 21rem;
    z-index: 1;

    i
        font-size: 14rem
        line-height: 4rem
        margin-bottom: 5rem
        opacity: .5
        color: #8e8e8e
        /* transition: 1s transform ease-in-out; */


//FEATURED

.cube
    .column
      height: 0
      padding-bottom: 35%
      position: relative
      background: #fff

    .info
      width: auto
      position: absolute
      z-index: 5
      text-align: left

    .image
        min-height: 300px

    h2
      font-size: 4.5rem
      white-space: nowrap
      color: #333

    button
      color: #fff
    //   background: #c33333

    ul
      margin-left: 1rem
      color: #333
      font-size: 2rem
      font-weight: 400
    //   text-align: left


.hero-image
    height: 100vh
    height: 100%
//PORTFOLIO
.portfolio
    h1 
        margin-top: 4rem
        margin-bottom: 0

// ABOUT
.about

    .about-text-wrap
        position: absolute
        display: flex
        align-items: center
        z-index: 1
        top: 0
        /* left: 70%; */
        bottom: 0
        right: 0
        background: #c33333
        min-width: 400px
        width: 40%

    h2 
        color: #ffffff

@media (min-width: 1600px)
    body
        font-size: 3em

    .top-menu li a, .top-menu span
        font-size: inherit !important

    .vert-right
        width: 66rem

    .icon-jtp
        width: 30rem
        font-size: 20rem
        
    .title
        font-size: 8rem
 
    // .arrow-wrap i 
    //     font-size: 22rem
    //     line-height: 4rem
    //     margin-bottom: 10rem

@media (max-width: 1025px)

    .about .about-text-wrap
        width: 50%

    .cube h2 
        font-size: 3.5rem

    .vert-right
        width: auto
        max-width: 30rem

    .title
        font-size: 4rem
        // width: 38rem

    .home .hero
        height: 80vh
        min-height: 400px
    
    .home .icon-jtp
        font-size: 10rem

    .arrow-wrap
        right: 18rem

        i 
            font-size: 10rem
            margin-bottom: 2rem


@media (max-width: 769px)
    .top-menu
        display: none

    nav .hamburger
        display: block

    .home

        .hero
            height: 50vh
            min-height: 250px

            .title
                font-size: 4rem
                width: 28rem

        .icon-jtp
            font-size: 5rem

    .arrow-wrap
        top: -12rem

    .about
        .hero-image
            height: 50vh

        .about-text-wrap
            width: 100%
            bottom: 0
            top: 50%

        h2 
            margin-bottom: 0

        .circle
            width: 6rem
            height: 6rem
            margin-bottom: 1rem

            i 
                font-size: 2.5rem

@media (min-width: 641px) and (max-width: 769px)
    .row.cube
        .column-40, .column-60
            flex: 0 0 50%
            max-width: 50%

@media (max-width: 640px)

    .about .about-text-wrap
        top: 40%

    .about .hero-image
        height: 40vh

    .about-text
        h2 
            font-size: 3.5rem

        p 
            font-size: 1.65rem

    .arrow-wrap
        display: none

    .hero
        .vert-right
            justify-content: flex-end;
            // justify-content: flex-end
            opacity: .85
            right: 6rem

    .wedding-engagement .stacks
        display: none

    .wave
        section.home-sec
            // padding-bottom: 0
        .box
            padding-bottom: 0

    .portfolio
        h1 
            margin-top: 2rem
            margin-bottom: 0

    .portfolio-filters
        h4 
            margin-bottom: 0

    .cube
        &.row
            display: flex

            &.reverse-1
                flex-direction: column-reverse

            &.reverse-2
                flex-direction: column-reverse
        
        .text
            height: auto
            padding-bottom: 0

        .info
            position: relative
            top: auto
            left: auto
            transform: none
            text-align: center
        
            ul 
                margin-left: 0

@media (max-width: 500px)
    .column-wrap
        columns: 1 !important
           


    
